<app-header></app-header>

<!--page header section start-->
<section
  class="page-header position-relative overflow-hidden ptb-120 bg-dark"
  style="background: url('assets/img/page-header-bg.svg') no-repeat bottom left"
>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <h1 class="display-5 fw-bold">Terms and Conditions for Luxe Bzns Digital Solutions</h1>
        <p class="lead">
            Learn about our terms of service and your usage rights. Understand how we work together for the best digital solution experience.
        </p>
      </div>
    </div>
    <div
      class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"
    ></div>
  </div>
</section>
<!--page header section end-->


<section class="faq-section ptb-120 bg-light-subtle">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-7 col-12">
        <div class="section-heading mb-5 text-start">
          <h5 class="h6 text-primary">Understanding Our Terms</h5>
          <h2>Engaging with Luxe Bzns</h2>
          <p>
            Welcome to Luxe Bzns<br><br>
            We invite you to access our services and website, https://www.luxebzns.com, under these Terms and Conditions. By using our website or engaging with our services, you agree to comply with and be bound by the following terms.
<br>
Usage of Our Services
<br><br>
Luxe Bzns provides a range of digital solutions, including software development, digital marketing, and IT consultancy. These services are subject to the following conditions:<br><br>

Services must be used in compliance with applicable laws and regulations. <br>
Unauthorized use or duplication of any content or resources provided by Luxe Bzns is strictly prohibited. <br>
<br>
Intellectual Property Rights
<br><br>
All content, including text, graphics, logos, and software, is the property of Luxe Bzns. Reproduction in part or whole without explicit permission is prohibited.<br>

User Obligations <br><br>

As a user, you agree not to misuse our services or aid others in doing so. You also agree not to: <br>

Violate privacy or intellectual property rights. <br>
Transmit harmful or disruptive code or software. <br>

<br>
Liability Limitation <br><br>
Luxe Bzns is not liable for any indirect, special, or consequential damages that result from the use of, or the inability to use, the services or performance of the products, even if Luxe Bzns has been advised of the possibility of such damages.
<br><br>
Amendments to Terms and Conditions <br><br>


We may update these terms periodically. The updated version will be effective as soon as it is accessible. We encourage you to review these terms frequently to stay informed of updates.

<br><br>
Governing Law <br><br>
These Terms and Conditions are governed by and construed in accordance with the laws of the United Arab Emirates.
<br><br>
Contact Information
<br><br>
For any questions or comments about these Terms and Conditions, please contact us at <a href="mailto:contact@luxebzns.com">contact&#64;luxebzns.com</a>
or visit our contact page at <a href="https://www.luxebzns.com/contact">https://www.luxebzns.com/contact</a>.

          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
