<div dir="rtl">
  <!--page header section start-->
  <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
    style="background: url('assets/img/page-header-bg.svg') no-repeat bottom left">
    <div class="container pt-5">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8 col-md-12">
          <h1 class="display-5 fw-bold">انطلق بعملك إلى آفاق جديدة مع أفضل شركة تصميم مواقع في الإمارات</h1>
          <p class="lead">في Codevay، نقدم حلول تصميم وبرمجة مواقع إلكترونية مبتكرة تُضاعف مبيعاتك وتجذب العملاء بفضل تصميماتنا الاستثنائية وتجربة المستخدم الفريدة. اجعل موقعك الإلكتروني يتحدث عنك ويعكس هوية علامتك التجارية بشكل لا ينسى.</p>
          <button (click)="goToSection('booking-section')" class="btn btn-primary mt-3">احصل على استشارة مجانية الآن
            🎉</button>
        </div>
      </div>
      <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
  </section>
  <!--page header section end-->

  <!--feature section start-->
  <section class="feature-section ptb-120">
    <div class="container">
      <div class="row align-items-lg-center justify-content-between">
        <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
          <div class="mb-4">
            <h2>خدمات تصميم وتطوير المواقع الإلكترونية في الإمارات</h2>
            <p>حيث تتحد الفعالية والجمالية في التصميم الإلكتروني من أفضل شركة تصميم مواقع في دبي. نقدم تصميمات فريدة تعكس هوية علامتك التجارية وتجذب جمهورك المستهدف، مع التركيز على إنشاء تجربة مستخدم مميزة وتفاعلية تضمن تفاعل الزوار وزيادة المبيعات.</p>
          </div>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
            <li>
              <span><i class="fas fa-paint-brush fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">تصميم خاص ومخصص</h3>
              <p>تصميمات فريدة تعكس هوية علامتك التجارية وتجذب جمهورك المستهدف، مع التركيز على إنشاء تجربة مستخدم مميزة وتفاعلية.</p>
            </li>
            <li>
              <span><i class="fas fa-chart-line fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">تقنيات SEO متقدمة</h3>
              <p>تطبيق أحدث استراتيجيات تحسين محركات البحث لتعزيز رؤية موقعك وتحسين ترتيبه، مما يضمن تفوقك في السوق الرقمية وزيادة حركة المرور على موقعك</p>
            </li>


            <li>
              <span><i class="fas fa-book fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">صفحات شاملة ومفصلة</h3>
              <p>إنشاء صفحات تغطي جميع جوانب عملك بدقة، مما يوفر معلومات غنية ومفيدة تعزز من تفاعل الزائرين وتحفزهم على اتخاذ الإجراءات المطلوبة.</p>
            </li>

            <li>
              <span><i class="fas fa-hand-pointer fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">واجهة مستخدم وتجربة استخدام تفاعلية</h3>
              <p>نضمن واجهات سهلة الاستخدام تتميز بالبساطة والفعالية، مما يجعل تجربة الزائرين لموقعك فريدة ولا تُنسى ويشجعهم على العودة مجددًا.</p>
            </li>

          </ul>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="pr-lg-4 mt-md-4 position-relative">
            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
              <img
                src="https://cdn.dribbble.com/userupload/5541178/file/original-abd0a1666e3bb260defd02ca9175bb0a.jpg?resize=1504x1128"
                alt="خدمات تصميم مواقع ويب إبداعية وسريعة الاستجابة في دبي من Codevay"
                class="img-fluid shadow-sm rounded-custom luxury-hover">
              <div
                class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--feature section end-->


  <!--Advance feature section start-->
  <section class="feature-section pt-20 pb-120">
    <div class="container">
      <div class="row align-items-lg-center justify-content-between">
        <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
          <div class="mb-4">
            <h2>تحسين تجارب التصفح الإلكترونية</h2>
            <p>ميزات مبتكرة للويب الحديث</p>
          </div>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
            <li>
              <span><i class="fas fa-mobile-alt fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">تصميم متكيف</h3>
              <p>يتماشى مع جميع الأجهزة: نضمن أن يقدم موقعك تجربة سلسة على الحواسيب المكتبية، الأجهزة اللوحية، والهواتف
                المحمولة.</p>
            </li>
            <li>
              <span><i class="fas fa-sync fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">المحتوى الديناميكي</h3>
              <p>محتوى حديث وجذاب: نستخدم المحتوى الذي يتكيف مع سلوكيات وتفضيلات المستخدم لتقديم تجربة شخصية فريدة.</p>
            </li>

            <li>
              <span><i class="fas fa-shield-alt fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">بروتوكولات الأمان</h3>
              <p>حماية موقعك: تطبيق تدابير أمان قوية لحماية موقعك وبيانات المستخدمين من التهديدات الإلكترونية.</p>
            </li>

            <li>
              <span><i class="fas fa-cogs fa-2x text-primary mb-4"></i></span>
              <h3 class="h5">تقنيات متقدمة</h3>
              <p>حلول مستعدة للمستقبل: نستفيد من أحدث التقنيات الويب للحفاظ على تقدم موقعك وقابليته للتوسع.</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 order-lg-2">
          <div class="pr-lg-4 position-relative">
            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">

              <img
                src="https://cdn.dribbble.com/userupload/9873354/file/original-913a68d016311c64c98dd4e29b2fa522.png?resize=2048x1330"
                alt="حلول تصميم الويب الأنيقة من Codevay: تحويل التواجد عبر الإنترنت"
                class="img-fluid shadow-sm rounded-custom luxury-hover">

              <div
                class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Advance feature section end-->

  <!--Website Types section start-->
  <section class="feature-tab-section ptb-120 bg-light-subtle" dir="ltr">
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="section-heading text-center mb-4">
            <h5 class="h6 text-primary">أنواع المواقع التي نصممها</h5>
            <h2>تصميم مواقع متنوعة لكافة الاحتياجات</h2>
            <p>
              في كوديفي، نوفر تصاميم مواقع ويب مبتكرة تلبي متطلبات مختلف القطاعات والمهن. من مواقع التجارة الإلكترونية
              إلى المنصات التعليمية، نضمن تقديم حلول تصميم تعزز من تواجدك الرقمي وتفاعل المستخدم.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <ul class="nav justify-content-center feature-tab-list-2 mt-4" id="nav-tab-2" role="tablist">
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                متاجر الكترونية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                منصات استشارات
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع براندات شخصية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع مكاتب محاماة
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع تعليمية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع الصحة واللياقة البدنية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع خدمات عقارية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                منصات الأحداث والمؤتمرات
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع المطاعم والمقاهي
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                بوابات الأخبار والمجلات
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع التجارة الدولية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع الألعاب الإلكترونية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع المنظمات غير الربحية
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                منصات التوظيف والتواصل المهني
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع السياحة والسفر
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                مواقع الفن والثقافة
              </a>
            </li>
            <li class="nav-item mb-4">
              <a class="nav-link" role="tab">
                منصات الدورات والتدريب عبر الإنترنت
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--Website Types section end-->

  <!--promo section start-->
  <section class="promo-section ptb-120 bg-light-subtle">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6">
          <div class="section-heading text-center">
            <h2>مدفوعون بالشغف، مثبتون بالنتائج</h2>
            <p>نجاحكم، التزامنا</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div
            class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
            <div class="promo-card-info">
              <h3 class="display-5 fw-medium mb-4">150+</h3>
              <h2 class="h5">أكثر من 150 مشروعاً مكتملاً</h2>
              <p class="mb-0">التميز في التنفيذ: نبرهن خبرتنا بسجل حافل بالمشاريع التي أُنجزت بنجاح.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div
            class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
            <div class="promo-card-info">
              <h3 class="display-5 fw-medium mb-4">1.5k</h3>
              <h2 class="h5">أكثر من 1500 عميل راضٍ</h2>
              <p class="mb-0">أولويتنا هي رضا العميل: ملتزمون بتجاوز التوقعات لبناء شراكات دائمة.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div
            class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-0">
            <div class="promo-card-info">
              <h3 class="display-5 fw-medium mb-4">90%</h3>
              <h2 class="h5">دعم 24/7 بنسبة 90%</h2>
              <p class="mb-0">دائمًا في خدمتكم: نقدم الدعم على مدار الساعة لتلبية احتياجاتكم وضمان استمرارية الخدمة.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--promo section end-->


  <!--pricing section start-->
  <section class="pricing-section ptb-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="section-heading text-center">
            <h2>اكتشف أسعارنا القيّمة</h2>
            <p>خدمات متكاملة بتسعير مرن يتناسب مع جميع احتياجاتك الرقمية. النمو بكفاءة وفعالية مع حلولنا الإلكترونية
              المتقدمة.</p>
          </div>
        </div>
      </div>
      <div class="row" id="booking-section">
        <div class="col-lg-12 col-md-12">
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/codevay/website?hide_gdpr_banner=1"
            style="min-width:320px;height:700px;"></div>
          <!-- Calendly inline widget end -->
        </div>
      </div>
    </div>
  </section>
  <!--pricing section end-->

  <!--cat subscribe start-->
  <section class="cta-subscribe bg-dark text-white ptb-120 position-relative overflow-hidden">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
          <div class="subscribe-info-wrap text-center position-relative z-2">
            <div class="section-heading" data-aos="fade-up">
              <h4 class="h5 text-warning">جرب الآن! استشارة مجانية</h4>
              <h2>انطلق في رحلة التحول الرقمي الخاصة بك</h2>
              <p>استمتع بالنصائح المصممة خصيصًا لك، الرؤى الصناعية، الحلول المبتكرة، والاستشارات بدون أي مخاطر</p>
            </div>
            <div class="form-block-banner mw-60 m-auto mt-5" data-aos="fade-up" data-aos-delay="50">
              <a routerLink="/contact" class="btn btn-primary">احصل على استشارة مجانية</a>
            </div>
            <ul class="nav justify-content-center subscribe-feature-list mt-4" data-aos="fade-up" data-aos-delay="100">
              <li class="nav-item">
                <span><i class="far fa-check-circle text-primary ms-2"></i>أفكار وحلول مجانية</span>
              </li>
              <li class="nav-item">
                <span><i class="far fa-check-circle text-primary ms-2"></i>توفير الجهد والوقت</span>
              </li>
              <li class="nav-item">
                <span><i class="far fa-check-circle text-primary ms-2"></i>تقنيات جديدة ومبتكرة</span>
              </li>
              <li class="nav-item">
                <span><i class="far fa-check-circle text-primary ms-2"></i>استشارات بدون مخاطر</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
      <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
    </div>
  </section> <!--cat subscribe end-->

</div>