
<app-header></app-header>

<!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">Web Design & Development</h1>
                        <p class="lead">Revolutionizing Web Design & Development: Our Expertise in Crafting Digital Masterpieces Sets the Stage for Your Unparalleled Online Success and Market Dominance in the Digital Landscape.</p>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

                <!--feature section start-->
                <section class="feature-section ptb-120">
                    <div class="container">
                        <div class="row align-items-lg-center justify-content-between">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="mb-4">
                                    <h2>Our Web Design & Development Essentials</h2>
                                    <p>Where Functionality Meets Aesthetics</p>
                                </div>
                                <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
                                    <li>
                                        <span><i class="fas fa-paint-brush fa-2x text-primary mb-4"></i></span>
                                        <h3 class="h5">Bespoke Design</h3>
                                        <p>Customized Aesthetics: Tailored designs that reflect your brand's identity and appeal to your target audience.</p>
                                    </li>
                                    <li>
                                        <span><i class="fas fa-chart-line fa-2x text-primary mb-4"></i></span>
                                        <h3 class="h5">Advanced SEO Techniques</h3>
                                        <p>Optimized for Visibility: Implementing the latest SEO strategies to enhance your website's search engine ranking and online presence. </p>
                                    </li>


                            <li>
                                <span><i class="fas fa-book fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Comprehensive Pages</h3>
                                <p>Detailed and Informative: Creating pages that cover all aspects of your business, ensuring a thorough and engaging user experience.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-hand-pointer fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Interactive UI/UX</h3>
                                <p>Engaging User Experience: Focus on user-friendly interfaces that ensure easy navigation and a memorable visit for your website users.</p>
                            </li>

                                </ul>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="pr-lg-4 mt-md-4 position-relative">
                                    <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                        <img src="https://cdn.dribbble.com/users/584216/screenshots/10640119/media/6fa7f8f510d3a609806d882ee5de06ce.png?resize=640x480&vertical=center" alt="Creative and Responsive Web Design Services in Dubai by Codevay" class="img-fluid shadow-sm rounded-custom luxury-hover">
                                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--feature section end-->


                        <!--feature section start-->
        <section class="feature-section pt-60 pb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>Elevating Web Experiences</h2>
                            <p>Innovative Features for the Modern Web</p>
                        </div>
                        <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
                            <li>
                                <span><i class="fas fa-mobile-alt fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Adaptive Design</h3>
                                <p>Responsive Across Devices: Ensuring your website delivers a seamless experience on desktops, tablets, and mobile devices.</p>
                            </li>
                            <li>
                                <span><i class="fas fa-sync fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Dynamic Content</h3>
                                <p>Fresh & Engaging: Utilizing dynamic content that adapts to user behavior and preferences for a personalized experience.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-shield-alt fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Security Protocols</h3>
                                <p>Safeguarding Your Site: Implementing robust security measures to protect your site and user data from online threats.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-cogs fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">Cutting-Edge Technologies</h3>
                                <p>Future-Ready Solutions: Leveraging the latest web technologies to keep your site ahead of the curve and scalable for future growth.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="pr-lg-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                
                                <img src="https://cdn.dribbble.com/userupload/4716686/file/original-c64cd81c6fe945ba8555cfb7b8f3805f.png?resize=640x480&vertical=center" alt="Elegant Web Design Solutions by Codevay: Transforming Online Presence" class="img-fluid shadow-sm rounded-custom luxury-hover">

                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--feature section end-->



        <app-statistics></app-statistics>


                    <!--pricing section start-->
                    <section class="pricing-section ptb-120">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-10">
                                    <div class="section-heading text-center">
                                        <h2>Check Our Valuable Price</h2>
                                        <p>Conveniently mesh cooperative services via magnetic outsourcing. Dynamically grow value whereas accurate e-commerce vectors. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-primary d-block">Stater</h3>
                                            <h4 class="display-6 fw-semi-bold">AED 3,779<span>/One Time</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Custom Website Design</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Up to 10 Pages</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Responsive Design</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Basic SEO</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Social Media Integration</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Contact Form</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Google Maps Integration</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> 1 Month of Support</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/eVa01zfVr4SMbGofZ4" class="btn btn-outline-primary mt-2">Buy Now</a>
        
                                        <!--pattern start-->
                                        <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
                                            <img src="assets/img/shape/dot-big-square.svg" alt="shape">
                                        </div>
                                        <!--pattern end-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-dark text-white p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-warning d-block">Business</h3>
                                            <h4 class="display-6 fw-semi-bold">AED 9,500<span>/One Time</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Custom Website Design & Development</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Up to 25 Pages</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Mobile-First Responsive Design</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Advanced SEO + Analytics</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Custom Admin Panel</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> Enhanced Security Features</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> E-commerce Functionality</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning me-2"></i> 3 Months of Support</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/14kaGdeRngBucKs007" class="btn btn-primary mt-2">Buy Now</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-primary d-block">Premium</h3>
                                            <h4 class="display-6 fw-semi-bold">AED 18,899<span>/month</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Advanced Custom Website Design & Development</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Unlimited Pages</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Progressive Web App (PWA) Technology</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Comprehensive SEO Strategy</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Supported With AI</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Custom Security Solutions</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> Full E-commerce Solutions</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary me-2"></i> 6 Months of Support</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/6oEeWt7oV2KEh0I8wE" class="btn btn-outline-primary mt-2">Buy Now</a>
        
                                        <!--pattern start-->
                                        <div class="dot-shape-bg position-absolute z--1 right--40 top--40">
                                            <img src="assets/img/shape/dot-big-square.svg" alt="shape">
                                        </div>
                                        <!--pattern end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--pricing section end-->


                <app-contact-form></app-contact-form>

        <app-footer></app-footer>