<app-header></app-header>

<!--page header section start-->
<section
  class="page-header position-relative overflow-hidden ptb-120 bg-dark"
  style="background: url('assets/img/page-header-bg.svg') no-repeat bottom left"
>
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <h1 class="display-5 fw-bold">Voices of Success</h1>
        <p class="lead">
            Hear directly from our esteemed clientele. Discover how Luxe Bzns has empowered businesses with unparalleled digital solutions, elevating them to new heights of innovation and success.
        </p>
      </div>
    </div>
    <div
      class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"
    ></div>
  </div>
</section>
<!--page header section end-->

<!--customer review tab section start-->
<section
  class="customer-review-tab ptb-120 bg-light-subtle position-relative z-2"
>
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-10 col-lg-6">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Testimonials</h4>
          <h2>Client Accolades</h2>
          <p>
            Read the stories of transformation and triumph, as our clients share their experiences of partnering with Luxe Bzns for exceptional digital solutions that redefine success.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="tab-content" id="testimonial-tabContent">
          <div
            class="tab-pane fade active show"
            id="testimonial-tab-1"
            role="tabpanel"
          >
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                  <img
                    src="assets/img/testimonial/quotes-left.svg"
                    alt="testimonial quote"
                    width="65"
                    class="img-fluid mb-32"
                  />
                  <div class="blockquote-title-review mb-4">
                    <h3 class="mb-0 h4 fw-semi-bold">
                        Transforming Luxury Experiences Through Innovative Technology
                    </h3>
                    <ul class="review-rate mb-0 list-unstyled list-inline">
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>

                  <blockquote class="blockquote">
                    <p>
                        Partnering with Luxe Bzns was a pivotal moment for our luxury brand. Their unparalleled expertise in developing sophisticated software solutions has dramatically enhanced our online presence and customer engagement. From the outset, Luxe Bzns demonstrated a deep understanding of the luxury market's nuances, delivering a bespoke app that perfectly aligns with our brand's ethos. Their commitment to excellence and precision in execution has not only elevated our digital strategy but has also set a new benchmark for luxury experiences online. The team at Luxe Bzns went above and beyond to ensure our vision was realized, resulting in a platform that not only captivates our audience but also offers them an immersive and seamless digital experience. Luxe Bzns has truly redefined what it means to deliver luxury in the digital age.
                    </p>
                  </blockquote>
                  <div class="author-info mt-4">
                    <h6 class="mb-0">Dr.Sarah</h6>
                    <span>Co-founder</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="author-img-wrap pt-5 ps-5">
                  <div class="testimonial-video-wrapper position-relative">
                    <img
                      src="assets/img/testimonial/t-1.jpg"
                      class="img-fluid rounded-custom shadow-lg"
                      alt="testimonial author"
                    />
                    <div
                      class="customer-info text-white d-flex align-items-center"
                    >
                      <!-- <a
                        href="../www.youtube.com/watchaec0.html?v=hAP2QF--2Dg"
                        class="video-icon popup-youtube text-decoration-none"
                        ><i class="fas fa-play"></i>
                        <span class="text-white ms-2 small">
                          Watch Video</span
                        ></a
                      > -->
                    </div>
                    <div
                      class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="testimonial-tab-2" role="tabpanel">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                  <img
                    src="assets/img/testimonial/quotes-left.svg"
                    alt="testimonial quote"
                    width="65"
                    class="img-fluid mb-32"
                  />
                  <div class="blockquote-title-review mb-4">
                    <h3 class="mb-0 h4 fw-semi-bold">
                        Elevating Digital Luxury to New Heights
                    </h3>
                    <ul class="review-rate mb-0 list-unstyled list-inline">
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>
                  <blockquote class="blockquote">
                    <p>
                        The decision to engage Luxe Bzns in our digital enhancement initiative was transformative. Their exceptional ability to blend luxury with cutting-edge technology resulted in a digital platform that far exceeded our expectations. The team at Luxe Bzns delivered a bespoke software solution that not only resonated with our elite clientele but also significantly boosted our brand's online presence. Their strategic approach to our project, coupled with their meticulous attention to detail, has redefined the digital experience within the luxury sector. Luxe Bzns proved to be more than a service provider; they were visionary partners who understood our ambition and turned it into a reality, setting a new benchmark for luxury in the digital realm.
                    </p>
                  </blockquote>
                  <div class="author-info mt-4">
                    <h6 class="mb-0">Mr.Sami</h6>
                    <span>Operations Director</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="author-img-wrap pt-5 ps-5">
                  <div class="testimonial-video-wrapper position-relative">
                    <img
                      src="assets/img/testimonial/t-2.jpg"
                      class="img-fluid rounded-custom shadow-lg"
                      alt="testimonial author"
                    />
                    <div
                      class="customer-info text-white d-flex align-items-center"
                    >
                      <!-- <a
                        href="../www.youtube.com/watchaec0.html?v=hAP2QF--2Dg"
                        class="video-icon popup-youtube text-decoration-none"
                        ><i class="fas fa-play"></i>
                        <span class="text-white ms-2 small">
                          Watch Video</span
                        ></a
                      > -->
                    </div>
                    <div
                      class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="testimonial-tab-3" role="tabpanel">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                  <img
                    src="assets/img/testimonial/quotes-left.svg"
                    alt="testimonial quote"
                    width="65"
                    class="img-fluid mb-32"
                  />
                  <div class="blockquote-title-review mb-4">
                    <h3 class="mb-0 h4 fw-semi-bold">Redefining Elegance in the Digital World</h3>
                    <ul class="review-rate mb-0 list-unstyled list-inline">
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>
                  <blockquote class="blockquote">
                    <p>
                        Partnering with Luxe Bzns has propelled our digital capabilities into a realm of unprecedented luxury and sophistication. Their unparalleled expertise in developing high-end software solutions has not only elevated our brand's digital footprint but also enriched the user experience for our discerning audience. The Luxe Bzns team approached our needs with a blend of creativity, precision, and an understanding of luxury that is rare in the digital space. Their work has significantly enhanced our market position, allowing us to deliver an online experience that is both opulent and seamlessly intuitive. Luxe Bzns has set a new standard for what it means to offer luxury in the digital age, ensuring our brand remains at the forefront of innovation.
                    </p>
                  </blockquote>
                  <div class="author-info mt-4">
                    <h6 class="mb-0">Mr.Omar</h6>
                    <span>Marketing Manager</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="author-img-wrap pt-5 ps-5">
                  <div class="testimonial-video-wrapper position-relative">
                    <img
                      src="assets/img/testimonial/t-3.jpg"
                      class="img-fluid rounded-custom shadow-lg"
                      alt="testimonial author"
                    />
                    <div
                      class="customer-info text-white d-flex align-items-center"
                    >
                      <!-- <a
                        href="../www.youtube.com/watchaec0.html?v=hAP2QF--2Dg"
                        class="video-icon popup-youtube text-decoration-none"
                        ><i class="fas fa-play"></i>
                        <span class="text-white ms-2 small">
                          Watch Video</span
                        ></a
                      > -->
                    </div>
                    <div
                      class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="testimonial-tab-4" role="tabpanel">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                  <img
                    src="assets/img/testimonial/quotes-left.svg"
                    alt="testimonial quote"
                    width="65"
                    class="img-fluid mb-32"
                  />
                  <div class="blockquote-title-review mb-4">
                    <h3 class="mb-0 h4 fw-semi-bold">
                        Innovating Luxury, One Pixel at a Time
                    </h3>
                    <ul class="review-rate mb-0 list-unstyled list-inline">
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>
                  <blockquote class="blockquote">
                    <p>
                        Engaging Luxe Bzns was a pivotal decision that took our digital presence from ordinary to extraordinary. Their expert team, with an acute understanding of luxury and technology, crafted a digital solution that truly stands out in the luxury market. Every aspect of their work, from the initial concept to the final implementation, was handled with the utmost care and precision, ensuring that our digital offering not only met but exceeded the high expectations of our clientele. The bespoke software solutions provided by Luxe Bzns have not only enhanced our brand's visibility but also deepened our connection with our audience, offering them an unparalleled digital experience. Luxe Bzns's dedication to pushing the boundaries of what's possible has made them an invaluable partner in our journey towards digital excellence.
                    </p>
                  </blockquote>
                  <div class="author-info mt-4">
                    <h6 class="mb-0">Ms.Aisha</h6>
                    <span>Founder</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="author-img-wrap pt-5 ps-5">
                  <div class="testimonial-video-wrapper position-relative">
                    <img
                      src="assets/img/testimonial/t-4.jpg"
                      class="img-fluid rounded-custom shadow-lg"
                      alt="testimonial author"
                    />
                    <div
                      class="customer-info text-white d-flex align-items-center"
                    >
                      <!-- <a
                        href="../www.youtube.com/watchaec0.html?v=hAP2QF--2Dg"
                        class="video-icon popup-youtube text-decoration-none"
                        ><i class="fas fa-play"></i>
                        <span class="text-white ms-2 small">
                          Watch Video</span
                        ></a
                      > -->
                    </div>
                    <div
                      class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="testimonial-tab-5" role="tabpanel">
            <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                <div class="testimonial-tab-content mb-5 mb-lg-0 mb-md-0">
                  <img
                    src="assets/img/testimonial/quotes-left.svg"
                    alt="testimonial quote"
                    width="65"
                    class="img-fluid mb-32"
                  />
                  <div class="blockquote-title-review mb-4">
                    <h3 class="mb-0 h4 fw-semi-bold">
                        Crafting Digital Masterpieces for the Luxury Market
                    </h3>
                    <ul class="review-rate mb-0 list-unstyled list-inline">
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                      <li class="list-inline-item">
                        <i class="fas fa-star text-warning"></i>
                      </li>
                    </ul>
                  </div>
                  <blockquote class="blockquote">
                    <p>
                        The collaboration with Luxe Bzns to revolutionize our website was nothing short of transformative. Their team brought a rare blend of technical excellence and aesthetic sensibility, understanding the unique demands of the luxury sector. They didn't just develop a website; they crafted a digital experience that captivates and engages our high-end clientele. The attention to detail, from the intuitive user interface to the visually stunning design, has set a new industry standard for luxury online. Our website, now a seamless fusion of form and function, has significantly elevated our brand's digital identity, thanks to Luxe Bzns's unparalleled expertise in creating websites that are not just seen but experienced. Their commitment to innovation and luxury has made our digital presence as prestigious as our brand itself.
                    </p>
                  </blockquote>
                  <div class="author-info mt-4">
                    <h6 class="mb-0">Ms.Alyana</h6>
                    <span>CEO</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="author-img-wrap pt-5 ps-5">
                  <div class="testimonial-video-wrapper position-relative">
                    <img
                      src="assets/img/testimonial/t-5.jpg"
                      class="img-fluid rounded-custom shadow-lg"
                      alt="testimonial author"
                    />
                    <div
                      class="customer-info text-white d-flex align-items-center"
                    >
                      <!-- <a
                        href="../www.youtube.com/watchaec0.html?v=hAP2QF--2Dg"
                        class="video-icon popup-youtube text-decoration-none"
                        ><i class="fas fa-play"></i>
                        <span class="text-white ms-2 small">
                          Watch Video</span
                        ></a
                      > -->
                    </div>
                    <div
                      class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <ul
          class="nav nav-pills testimonial-tab-menu mt-60"
          id="testimonial"
          role="tablist"
        >
          <li class="nav-item" role="presentation">
            <div
              class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link active"
              data-bs-toggle="pill"
              data-bs-target="#testimonial-tab-1"
              role="tab"
              aria-selected="false"
            >
              <div class="testimonial-thumb me-3">
                <img
                  src="assets/img/testimonial/5.jpg"
                  width="50"
                  class="rounded-circle"
                  alt="testimonial thumb"
                />
              </div>
              <div class="author-info">
                <h6 class="mb-0">Dr.Sarah</h6>
                <span>Co-founder</span>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link"
              data-bs-toggle="pill"
              data-bs-target="#testimonial-tab-2"
              role="tab"
              aria-selected="false"
            >
              <div class="testimonial-thumb me-3">
                <img
                  src="assets/img/testimonial/2.jpg"
                  width="50"
                  class="rounded-circle"
                  alt="testimonial thumb"
                />
              </div>
              <div class="author-info">
                <h6 class="mb-0">Mr.Sami</h6>
                <span>Operations Director</span>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link"
              data-bs-toggle="pill"
              data-bs-target="#testimonial-tab-3"
              role="tab"
              aria-selected="false"
            >
              <div class="testimonial-thumb me-3">
                <img
                  src="assets/img/testimonial/3.jpg"
                  width="50"
                  class="rounded-circle"
                  alt="testimonial thumb"
                />
              </div>
              <div class="author-info">
                <h6 class="mb-0">Mr.Omar</h6>
                <span>Marketing Manager</span>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link"
              data-bs-toggle="pill"
              data-bs-target="#testimonial-tab-4"
              role="tab"
              aria-selected="false"
            >
              <div class="testimonial-thumb me-3">
                <img
                  src="assets/img/testimonial/4.jpg"
                  width="50"
                  class="rounded-circle"
                  alt="testimonial thumb"
                />
              </div>
              <div class="author-info">
                <h6 class="mb-0">Ms.Aisha</h6>
                <span>Founder</span>
              </div>
            </div>
          </li>
          <li class="nav-item" role="presentation">
            <div
              class="nav-link d-flex align-items-center rounded-custom border border-light border-2 testimonial-tab-link"
              data-bs-toggle="pill"
              data-bs-target="#testimonial-tab-5"
              role="tab"
              aria-selected="true"
            >
              <div class="testimonial-thumb me-3">
                <img
                  src="assets/img/testimonial/author3.jpg"
                  width="50"
                  class="rounded-circle"
                  alt="testimonial thumb"
                />
              </div>
              <div class="author-info">
                <h6 class="mb-0">Ms.Alyana</h6>
                <span>CEO</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--customer review tab section end-->

<app-footer></app-footer>
