<app-header></app-header>


<!--page header section start-->
<section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <h1 class="display-5 fw-bold">Our Latest News and Blogs</h1>
                <p class="lead">Completely integrate equity invested partnerships without revolutionary systems. Monotonectally network pandemic e-services via bricks-and-clicks information. </p>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
    </div>
</section>
<!--page header section end-->



        <!--blog section start-->
        <section class="masonary-blog-section ptb-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs" dir="rtl">
                        <div class="single-article rounded-custom my-3">
                            <a [href]="'/blog/' + blog.attributes.Slug" class="article-img">
                                <img *ngIf="blog.attributes.Featured_Image && blog.attributes.Featured_Image.data && blog.attributes.Featured_Image.data.length > 0"
                                     [src]="'https://codevaycms-production.up.railway.app/' + blog.attributes.Featured_Image.data[0].attributes.formats.small.url"
                                     [alt]="blog.attributes.Featured_Image.data[0].attributes.alternativeText || 'Blog Image'"
                                     class="img-fluid">
                                <ng-container *ngIf="!blog.attributes.Featured_Image || (blog.attributes.Featured_Image && !blog.attributes.Featured_Image.data) || (blog.attributes.Featured_Image && blog.attributes.Featured_Image.data && blog.attributes.Featured_Image.data.length === 0)">
                                  <img src="assets/img/blog/blog-1.jpg" alt="Default Blog Image" class="img-fluid">
                                </ng-container>
                              </a>
                            <div class="article-content p-4">
                               
                                <a [href]="'/blog/' + blog?.attributes?.Slug">
                                    <h2 class="h5 article-title limit-2-line-text">{{blog?.attributes?.Title}}</h2>
                                </a>
                                <p class="limit-2-line-text">{{blog?.attributes?.Excerpt}}</p>

                                <a href="javascript:;">
                                    <div class="d-flex align-items-center pt-4">
                                        <div class="avatar">
                                            <img src="assets/img/Ammar Barish, CEO & Digital Strategy Visionary at Codevay.webp" alt="avatar" width="40" class="img-fluid rounded-circle ms-3">
                                        </div>
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">{{blog?.attributes?.Author}}</h6>
                                            <span class="small fw-medium text-muted">{{blog?.attributes?.createdAt | date}}</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>

                </div>

                <!--pagination start-->
                <div class="row justify-content-center align-items-center mt-5">
                    <div class="col-auto my-1">
                        <button (click)="goToPreviousPage()" [disabled]="isFirstPage()" class="btn btn-soft-primary btn-sm">Previous</button>
                    </div>
                    <div class="col-auto my-1">
                        <nav>
                            <ul class="pagination rounded mb-0">
                                <li class="page-item" *ngFor="let pageNumber of [].constructor(totalPages); let i = index" [ngClass]="{'active': i + 1 === currentPage}">
                                    <a class="page-link" (click)="currentPage = i + 1; loadBlogs()">{{ i + 1 }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto my-1">
                        <button (click)="goToNextPage()" [disabled]="isLastPage()" class="btn btn-soft-primary btn-sm">Next</button>
                    </div>
                </div>
                <!--pagination end-->
            </div>
        </section>
        <!--blog section end-->

<app-contact-form></app-contact-form>

<app-footer></app-footer>