        <!--footer section start-->
        <footer class="footer-section">
            <!--footer top start-->
            <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
            <div class="footer-top footer-light navbar-light ptb-120">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-md-8 col-lg-4 mb-md-4 mb-lg-0">
                            <div class="footer-single-col">
                                <div class="navbar-brand footer-single-col mb-4">
                                    <img ngSrc="assets/img/luxe-bzns-logo-light.png" alt="logo" class="logo-white"  width="160" height="46" ngOptimizedImage priority/>
                                    <img ngSrc="assets/img/luxe-bzns-logo-dark.png" alt="logo" class="logo-color" width="160" height="46" ngOptimizedImage priority />
                                </div>
                                <p>{{'Footer.Text1' |translate}}</p>

                                <!-- <form class="newsletter-form position-relative d-block d-lg-flex d-md-flex">
                                    <input type="text" class="input-newsletter form-control me-2" placeholder="Enter your email" name="email" required="" autocomplete="off">
                                    <input type="submit" value="Subscribe" data-wait="Please wait..." class="btn btn-primary mt-3 mt-lg-0 mt-md-0">
                                </form> -->
                                <div class="ratting-wrap mt-4">
                                    <h6 class="mb-0">{{'Footer.Text2' |translate}}</h6>
                                    <ul class="list-unstyled rating-list list-inline mb-0">
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                        <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                            <div class="row">
                                <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                                    <div class="footer-single-col">
                                        <h3>{{'Footer.Text3' |translate}}</h3>
                                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                                            <li><a routerLink="/" class="text-decoration-none">{{'Footer.Text4' |translate}}</a></li>
                                            <li><a routerLink="/about" class="text-decoration-none">{{'Footer.Text5' |translate}}</a></li>
                                            <li><a routerLink="/services" class="text-decoration-none">{{'Footer.Text6' |translate}}</a></li>
                                            <li><a routerLink="/contact" class="text-decoration-none">{{'Footer.Text7' |translate}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                                    <div class="footer-single-col">
                                        <h3>{{'Footer.Text8' |translate}}</h3>
                                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                                            <li><a routerLink="/blog" class="text-decoration-none">{{'Footer.Text9' |translate}}</a></li>
                                            <li><a routerLink="/testimonials" class="text-decoration-none">{{'Footer.Text10' |translate}}</a></li>
                                            <li><a routerLink="/faq" class="text-decoration-none">{{'Footer.Text11' |translate}}</a>
                                            </li>
                                            <li><a routerLink="/case-studies" class="text-decoration-none">{{'Footer.Text12' |translate}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                                    <div class="footer-single-col">
                                        <h3>{{'Footer.Text13' |translate}}</h3>
                                        <ul class="list-unstyled footer-nav-list mb-lg-0">
                                            <li><a routerLink="/terms-of-service" class="text-decoration-none">{{'Footer.Text14' |translate}}</a></li>
                                            <li><a routerLink="/privacy-policy" class="text-decoration-none">{{'Footer.Text15' |translate}}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--footer top end-->

            <!--footer bottom start-->
            <div class="footer-bottom footer-light py-4">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-md-7 col-lg-7">
                            <div class="copyright-text">
                                <p class="mb-lg-0 mb-md-0">&copy; {{'Footer.Text16' |translate}}</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="footer-single-col text-start text-lg-end text-md-end">
                                <ul class="list-unstyled list-inline footer-social-list mb-0">
                                    <li class="list-inline-item"><a href="https://www.facebook.com/luxebzns/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.instagram.com/luxebzns/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="https://linkedin.com/company/luxebzns" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.threads.net/@luxebzns" target="_blank"><i class="fab fa-at"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer bottom end-->
        </footer> <!--footer section end-->