
<app-header></app-header>
<div dir="rtl">
<!--page header section start-->
        <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
            <div class="container pt-5">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <h1 class="display-5 fw-bold">أفضل شركة تصميم مواقع في الامارات - تصميم مواقع الكترونية متقدمة ومتجر الكتروني جاهز في دبي</h1>
                        <p class="lead">نقدم في Codevay حلولاً مبتكرة لتصميم وبرمجة المواقع الإلكترونية، متخصصون في إنشاء مواقع ويب استثنائية تعزز من تفاعل المستخدم وتحسين الوصول للسوق العربية والعالمية.</p>
                    </div>                    
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
            </div>
        </section>
        <!--page header section end-->

                <!--feature section start-->
                <section class="feature-section ptb-120">
                    <div class="container">
                        <div class="row align-items-lg-center justify-content-between">
                            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                                <div class="mb-4">
                                    <h2>خدمات تصميم وتطوير المواقع الإلكترونية في دبي</h2>
                                    <p>حيث تتحد الفعالية والجمالية في التصميم الإلكتروني من أفضل شركة تصميم مواقع دبي. تصميمات فريدة تعكس هوية علامتك التجارية وتجذب جمهورك المستهدف، مع التركيز على إنشاء تجربة مستخدم مميزة وتفاعلية.</p>
                                </div>
                                <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
                                    <li>
                                        <span><i class="fas fa-paint-brush fa-2x text-primary mb-4"></i></span>
                                        <h3 class="h5">تصميم خاص ومخصص</h3>
                                        <p>تصميمات فريدة تعكس هوية علامتك التجارية وتجذب جمهورك المستهدف، مع التركيز على إنشاء تجربة مستخدم مميزة وتفاعلية.</p>
                                    </li>
                                    <li>
                                        <span><i class="fas fa-chart-line fa-2x text-primary mb-4"></i></span>
                                        <h3 class="h5">تقنيات SEO متقدمة</h3>
                                        <p>تطبيق أحدث استراتيجيات تحسين محركات البحث لتعزيز رؤية موقعك وتحسين ترتيبه، مما يضمن تفوقك في السوق الرقمية.</p>
                                    </li>


                            <li>
                                <span><i class="fas fa-book fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">صفحات شاملة ومفصلة</h3>
                                <p>إنشاء صفحات تغطي جميع جوانب عملك بدقة، مما يوفر معلومات غنية ومفيدة تعزز من تفاعل الزائرين.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-hand-pointer fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">واجهة مستخدم وتجربة استخدام تفاعلية</h3>
                                <p>نضمن واجهات سهلة الاستخدام تتميز بالبساطة والفعالية، مما يجعل تجربة الزائرين لموقعك فريدة ولا تنسى.</p>
                            </li>

                                </ul>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="pr-lg-4 mt-md-4 position-relative">
                                    <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                        <img src="https://cdn.dribbble.com/users/584216/screenshots/10640119/media/6fa7f8f510d3a609806d882ee5de06ce.png?resize=640x480&vertical=center" alt="خدمات تصميم مواقع ويب إبداعية وسريعة الاستجابة في دبي من Codevay" class="img-fluid shadow-sm rounded-custom luxury-hover">
                                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--feature section end-->


                        <!--Advance feature section start-->
        <section class="feature-section pt-60 pb-120">
            <div class="container">
                <div class="row align-items-lg-center justify-content-between">
                    <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                        <div class="mb-4">
                            <h2>تحسين تجارب التصفح الإلكترونية</h2>
                            <p>ميزات مبتكرة للويب الحديث</p>
                        </div>
                        <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5">
                            <li>
                                <span><i class="fas fa-mobile-alt fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">تصميم متكيف</h3>
                                <p>يتماشى مع جميع الأجهزة: نضمن أن يقدم موقعك تجربة سلسة على الحواسيب المكتبية، الأجهزة اللوحية، والهواتف المحمولة.</p>
                            </li>
                            <li>
                                <span><i class="fas fa-sync fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">المحتوى الديناميكي</h3>
                                <p>محتوى حديث وجذاب: نستخدم المحتوى الذي يتكيف مع سلوكيات وتفضيلات المستخدم لتقديم تجربة شخصية فريدة.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-shield-alt fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">بروتوكولات الأمان</h3>
                                <p>حماية موقعك: تطبيق تدابير أمان قوية لحماية موقعك وبيانات المستخدمين من التهديدات الإلكترونية.</p>
                            </li>

                            <li>
                                <span><i class="fas fa-cogs fa-2x text-primary mb-4"></i></span>
                                <h3 class="h5">تقنيات متقدمة</h3>
                                <p>حلول مستعدة للمستقبل: نستفيد من أحدث التقنيات الويب للحفاظ على تقدم موقعك وقابليته للتوسع.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 order-lg-2">
                        <div class="pr-lg-4 position-relative">
                            <div class="bg-light-subtle text-center rounded-custom overflow-hidden p-lg-5 p-4 mx-lg-auto">
                                
                                <img src="https://cdn.dribbble.com/userupload/4716686/file/original-c64cd81c6fe945ba8555cfb7b8f3805f.png?resize=640x480&vertical=center" alt="حلول تصميم الويب الأنيقة من Codevay: تحويل التواجد عبر الإنترنت" class="img-fluid shadow-sm rounded-custom luxury-hover">

                                <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Advance feature section end-->

        <!--faq section start-->
<section class="faq-section ptb-40 bg-light-subtle">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-12">
            <div class="section-heading mb-5 text-center">
                <h5 class="h6 text-primary">الأسئلة الشائعة حول تصميم المواقع الإلكترونية في الإمارات</h5>
                <h2>أسئلة متكررة حول خدمات تصميم وتطوير المواقع في دبي</h2>
                <p>اكتشف كيف يمكن لـ Codevay، أفضل شركة تصميم مواقع في دبي، تحويل تواجدك الرقمي وتعزيز تفاعل المستخدمين في السوق الإماراتية. تعرّف على أفضل ممارساتنا وكيف نساعد الأعمال على النجاح في العصر الرقمي.</p>
            </div>            
        </div>
      </div>
      <div class="row justify-content-center" dir="rtl">
        <div class="col-lg-7 col-12">
          <div class="accordion faq-accordion" id="accordionExample">
            <div class="accordion-item border border-2 active">
                <h5 class="accordion-header" id="faq-1">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-1"
                        aria-expanded="true"
                        aria-controls="collapse-1"
                    >
                    ما هي أهمية تصميم المواقع الإلكترونية للأعمال في دبي؟
                    </button>
                </h5>
                <div
                    id="collapse-1"
                    class="accordion-collapse collapse show"
                    aria-labelledby="faq-1"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        تعد دبي مركزًا تجاريًا رئيسيًا في الإمارات، وتصميم موقع إلكتروني جذاب يمكن أن يعزز من وجودك الرقمي بشكل كبير. في Codevay، نقدم تصميمات تفاعلية تساعد على جذب العملاء وتعزيز التفاعل مع المحتوى، مما يسهم في تحقيق أهداف الأعمال التجارية بفعالية. تركز خدماتنا على إنشاء مواقع سهلة الاستخدام، سريعة الاستجابة، ومتوافقة مع أحدث معايير SEO، مما يضمن تحسين التواجد على الإنترنت وزيادة معدلات التحويل.
                    </div>
                </div>
            </div>
            
            <div class="accordion-item border border-2">
                <h5 class="accordion-header" id="faq-2">
                    <button
                        class="accordion-button collapsed text-end"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-2"
                        aria-expanded="false"
                        aria-controls="collapse-2"
                    >
                    كيف يمكن لتصميم المواقع تحسين عمليات البيع للشركات في أبو ظبي؟
                    </button>
                </h5>
                <div
                    id="collapse-2"
                    class="accordion-collapse collapse"
                    aria-labelledby="faq-2"
                    data-bs-parent="#accordionExample"
                >
                    <div class="accordion-body">
                        في أبو ظبي، حيث تتنافس الأعمال للحصول على انتباه العملاء في سوق تنافسي، يلعب تصميم الموقع دورًا حاسمًا في تحسين تجربة المستخدم وزيادة المبيعات. في Codevay، نستخدم أحدث تقنيات تصميم وتطوير الويب لإنشاء مواقع جذابة ومتفاعلة تحفز العملاء على القيام بالإجراءات المرغوبة. تشمل خدماتنا تصميم مواقع سريعة الاستجابة توفر تجربة سلسة على جميع الأجهزة، وتحسين التنقل على الموقع لتسهيل الوصول إلى المعلومات والمنتجات، مما يؤدي إلى تحسين معدلات التحويل وزيادة العائدات.
                    </div>
                </div>
            </div>
            
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-3">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                >
                ما هي الخدمات التي تقدمها Codevay لتحسين SEO لمواقع الإلكترونية في الشارقة؟
            </button>
              </h5>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="faq-3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نقدم مجموعة شاملة من خدمات تحسين محركات البحث (SEO) التي تساعد الشركات في الشارقة على تحسين ترتيبها في نتائج البحث. خدماتنا تشمل تحليل الكلمات الرئيسية لفهم أفضل للسوق المحلي، تحسين المحتوى لتعزيز الرؤية والوصول، واستراتيجيات بناء الروابط التي تركز على زيادة السلطة والثقة لموقعك الإلكتروني. نحن نستخدم أيضًا تقنيات تحليل المنافسين لضمان أن تظل أعمالك تنافسية في سوق الشارقة المتطور باستمرار. كل هذه الجهود مصممة لضمان أن تكون مواقعنا الإلكترونية ليست فقط مرئية بشكل أفضل ولكن أيضًا توفر تجربة مستخدم استثنائية تشجع على التفاعل والتحويل.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-4">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-4"
                  aria-expanded="false"
                >
                ما هي فوائد اختيار شركة تصميم مواقع في العين؟
                </button>
              </h5>
              <div
                id="collapse-4"
                class="accordion-collapse collapse"
                aria-labelledby="faq-4"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    اختيار Codevay لتصميم موقعك الإلكتروني في العين يعني التعاون مع شركة تتمتع بفهم عميق للسوق المحلي وتحدياته الفريدة. نحن نقدم حلول تصميم مواقع مبتكرة تلائم بشكل مثالي متطلبات وتوقعات عملائنا في العين، سواء كانوا شركات ناشئة أو مؤسسات كبيرة. خدماتنا تشمل تصميمات متجاوبة تتكيف مع جميع الأجهزة والشاشات، مما يضمن تجربة مستخدم ممتازة وتحسين تفاعل العملاء. بالإضافة إلى ذلك، نحن نركز على إنشاء مواقع ويب سريعة الأداء وسهلة الاستخدام، مع مراعاة أفضل الممارسات في SEO لتعزيز وجودك على الإنترنت بشكل فعال. اختيار Codevay يعني ضمان أن تكون تجربتك الرقمية ليست فقط جذابة ولكن أيضًا فعالة في تحقيق النتائج.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-5">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-5"
                  aria-expanded="false"
                >
                كيف تضمن Codevay أمان البرمجيات وحلول تكنولوجيا المعلومات في دبي؟
                </button>
              </h5>
              <div
                id="collapse-5"
                class="accordion-collapse collapse"
                aria-labelledby="faq-5"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نولي أهمية قصوى لضمان أمان برمجياتنا وحلول تكنولوجيا المعلومات، خاصةً في سوق ديناميكي وسريع التطور مثل دبي. نعتمد استراتيجية أمان متعددة الطبقات تشمل أحدث تقنيات التشفير، تدقيقات الأمان الصارمة، والامتثال للمعايير الدولية لأمان السيبراني. يبدأ نهجنا بممارسات البرمجة الآمنة لمنع الثغرات في مرحلة التطوير، بالإضافة إلى تنفيذ تحديثات وتصحيحات دورية للحماية من التهديدات الجديدة، وتدابير حماية البيانات القوية التي تضمن سلامة وخصوصية بيانات العملاء. كما يقوم فريقنا بالمراقبة المستمرة واكتشاف التهديدات في الوقت الحقيقي للتصدي بسرعة لأي حوادث أمنية. هذا الإطار الشامل للأمان لا يحمي عملاءنا في دبي فحسب، بل يعزز أيضًا ثقتهم في قدرتنا على تقديم حلول تكنولوجيا المعلومات آمنة وموثوقة.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-6">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-6"
                  aria-expanded="false"
                >
                ما هي خدمات الدعم التي تقدمها Codevay لعملائها في دبي؟
                </button>
              </h5>
              <div
                id="collapse-6"
                class="accordion-collapse collapse"
                aria-labelledby="faq-6"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نعتبر الدعم الفني جزءاً لا يتجزأ من التزامنا تجاه عملائنا في دبي، وهو ما يميزنا كأفضل شركة برمجة في المنطقة. نقدم خدمات دعم شاملة تتضمن مساعدة فنية على مدار الساعة، تحديثات برمجية منتظمة، وتدريبات مفصلة للمستخدمين لضمان الاستفادة القصوى من حلولنا التكنولوجية. فريق الدعم لدينا مكون من خبراء تقنيين مؤهلين يتمتعون بفهم عميق للتحديات التي قد تواجه الأعمال في دبي، وهم دائماً جاهزون لتقديم الحلول السريعة والفعالة. من خلال تقديم استجابات سريعة ودقيقة، نضمن عدم تأثر أعمالكم بأي تحديات تقنية، مما يعكس التزامنا الراسخ بتقديم خدمة لا تضاهى.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-7">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-7"
                  aria-expanded="false"
                >كيف تقوم Codevay بتكييف حلولها التكنولوجية للشركات الناشئة والمؤسسات الصغيرة والمتوسطة في دبي؟
            </button>
              </h5>
              <div
                id="collapse-7"
                class="accordion-collapse collapse"
                aria-labelledby="faq-7"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نفهم التحديات الفريدة التي تواجه الشركات الناشئة والمؤسسات الصغيرة والمتوسطة في دبي، ونقدم حلولاً تكنولوجية مصممة خصيصًا لتلبية احتياجاتهم. كشركة برمجة رائدة، نستخدم نهجاً مرناً يسمح بتطوير الحلول التكنولوجية التي يمكن أن تنمو وتتطور مع الأعمال. نقدم منصات متكاملة تسهل العمليات، تعزز الكفاءة، وتقلل التكاليف. حلولنا مصممة لتكون سهلة الاستخدام، مما يتيح للشركات الصغيرة والمتوسطة التنافس بفاعلية في السوق الديناميكي. بالإضافة إلى ذلك، نقدم دعماً فنياً وتدريباً مستمراً لضمان أن تكون الشركات قادرة على استغلال تكنولوجيا المعلومات بأقصى طاقة ممكنة.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-8">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-8"
                  aria-expanded="false"
                >
                كيف تقوم Codevay بتكييف حلول البرمجيات لتناسب بيئة الأعمال الفريدة في دبي؟
                </button>
              </h5>
              <div
                id="collapse-8"
                class="accordion-collapse collapse"
                aria-labelledby="faq-8"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نتفهم بعمق الطبيعة المتميزة والمتطلبات الخاصة لبيئة الأعمال في دبي، مما يجعلنا شركة برمجة مثالية لتلبية هذه الاحتياجات. نحن نقدم حلول برمجيات مصممة خصيصاً لتتناسب مع التحديات والفرص التي تواجهها الشركات في هذه المدينة النابضة بالحياة. يشمل ذلك تطوير برمجيات قابلة للتطوير بما يتماشى مع النمو السريع للأعمال، وتأمين البيانات لحماية المعلومات الحساسة، وتوفير حلول تكاملية تسمح بالتفاعل السلس بين مختلف الأنظمة والتطبيقات. نعتمد في تقديم خدماتنا على فهم شامل للمعايير التنظيمية المحلية وأفضل الممارسات العالمية، لضمان أن تكون كل حلولنا متوافقة وفعالة في دعم عملائنا بدبي لتحقيق أهدافهم الاستراتيجية.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-9">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-9"
                  aria-expanded="false"
                >
                ما الذي يميز خدمات الحوسبة السحابية التي تقدمها Codevay في دبي؟
                </button>
              </h5>
              <div
                id="collapse-9"
                class="accordion-collapse collapse"
                aria-labelledby="faq-9"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نبرز كأفضل شركة برمجة وتصميم مواقع في الإمارات بفضل خدمات الحوسبة السحابية المتقدمة التي نقدمها. خدماتنا السحابية مصممة لتعزيز القدرات التشغيلية للأعمال التجارية في دبي، وتسهيل إنشاء وإدارة المتاجر الإلكترونية والمواقع بكفاءة. نحن نوفر حلولاً سحابية قابلة للتطوير تدعم كل من المشاريع الصغيرة والكبيرة، وتضمن الأمان الكامل والوصول السريع للبيانات من أي مكان في العالم. تشتمل خدماتنا على الاستضافة السحابية الموثوقة، النسخ الاحتياطي الآلي للبيانات، والتكامل السلس مع منصات التجارة الإلكترونية، مما يمكن عملاءنا من تحقيق أفضل استفادة من تقنيات السوق الرقمية.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-10">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-10"
                  aria-expanded="false"
                >
                كيف تساعد Codevay الشركات في دبي على تنفيذ استراتيجيات التحول الرقمي؟
                </button>
              </h5>
              <div
                id="collapse-10"
                class="accordion-collapse collapse"
                aria-labelledby="faq-10"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، نتبنى دور الرائد في مجال التحول الرقمي في دبي، حيث نساعد الشركات على دمج التقنيات الرقمية في جميع جوانب عملياتها. نحن نقدم استراتيجيات مبتكرة تعمل على تغيير الطريقة التي تعمل بها الشركات وتقدم القيمة لعملائها، مما يسهم في تحسين الكفاءة وزيادة الإنتاجية. استراتيجياتنا تشمل تحليلات متقدمة، الذكاء الاصطناعي، أتمتة العمليات، وحلول البيانات الكبيرة، والتي تم تصميمها لتسريع نمو الشركات وتعزيز قدرتها التنافسية في السوق الرقمي السريع التطور في دبي.
                </div>
              </div>
            </div>
  
            <div class="accordion-item border border-2">
              <h5 class="accordion-header" id="faq-11">
                <button
                  class="accordion-button collapsed text-end"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-11"
                  aria-expanded="false"
                >
                كيف تضمن Codevay أن تطوير التطبيقات الجوالة يلبي متطلبات السوق التكنولوجي المتقدم في دبي؟
                </button>
              </h5>
              <div
                id="collapse-11"
                class="accordion-collapse collapse"
                aria-labelledby="faq-11"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                    في Codevay، ندرك أهمية تلبية توقعات سوق دبي المتقدم تكنولوجياً، ولذلك نتبنى أحدث المعايير في تطوير التطبيقات الجوالة. نحن نركز على إنشاء تطبيقات تتميز بالجاذبية البصرية، سهولة الاستخدام، والأداء العالي، مما يضمن تجربة مستخدم مثالية. التطبيقات التي نطورها مصممة لتكون متوافقة مع أحدث التقنيات وأنظمة التشغيل، مع تأكيد خاص على الأمان والتكامل السلس مع أنظمة الأعمال الأخرى. نحن نقدم حلولاً مخصصة تعزز التفاعل الرقمي وتحقق أقصى استفادة من البيانات المتاحة لتعزيز نمو الشركات في السوق الحيوية في دبي.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--faq section end-->

          <!--Website Types section start-->
<section class="feature-tab-section ptb-20 bg-light-subtle" dir="ltr">
    <div class="container">
      <div class="row justify-content-center align-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="section-heading text-center mb-4">
            <h5 class="h6 text-primary">أنواع المواقع التي نصممها</h5>
            <h2>تصميم مواقع متنوعة لكافة الاحتياجات</h2>
            <p>
                في Codevay، نوفر تصاميم مواقع ويب مبتكرة تلبي متطلبات مختلف القطاعات والمهن. من مواقع التجارة الإلكترونية إلى المنصات التعليمية، نضمن تقديم حلول تصميم تعزز من تواجدك الرقمي وتفاعل المستخدم.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
            <ul class="nav justify-content-center feature-tab-list-2 mt-4" id="nav-tab-2" role="tablist">
                <li class="nav-item mb-2">
                  <a class="nav-link active" role="tab">
                    متاجر الكترونية 
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    منصات استشارات
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع براندات شخصية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع مكاتب محاماة
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع تعليمية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع الصحة واللياقة البدنية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع خدمات عقارية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    منصات الأحداث والمؤتمرات
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع المطاعم والمقاهي
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    بوابات الأخبار والمجلات
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع التجارة الدولية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع الألعاب الإلكترونية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع المنظمات غير الربحية
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    منصات التوظيف والتواصل المهني
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع السياحة والسفر
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    مواقع الفن والثقافة
                  </a>
                </li>
                <li class="nav-item mb-2">
                  <a class="nav-link" role="tab">
                    منصات الدورات والتدريب عبر الإنترنت
                  </a>
                </li>
            </ul>            
        </div>
      </div>
    </div>
  </section>
  <!--Website Types section end-->

                <!--promo section start-->
                <section class="promo-section ptb-120 bg-light-subtle">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6">
                                <div class="section-heading text-center">
                                    <h2>مدفوعون بالشغف، مثبتون بالنتائج</h2>
                                    <p>نجاحكم، التزامنا</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">150+</h3>
                                        <h2 class="h5">أكثر من 150 مشروعاً مكتملاً</h2>
                                        <p class="mb-0">التميز في التنفيذ: نبرهن خبرتنا بسجل حافل بالمشاريع التي أُنجزت بنجاح.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">1.5k</h3>
                                        <h2 class="h5">أكثر من 1500 عميل راضٍ</h2>
                                        <p class="mb-0">أولويتنا هي رضا العميل: ملتزمون بتجاوز التوقعات لبناء شراكات دائمة.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-0">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">90%</h3>
                                        <h2 class="h5">دعم 24/7 بنسبة 90%</h2>
                                        <p class="mb-0">دائمًا في خدمتكم: نقدم الدعم على مدار الساعة لتلبية احتياجاتكم وضمان استمرارية الخدمة.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--promo section end-->


                    <!--pricing section start-->
                    <section class="pricing-section ptb-120">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-10">
                                    <div class="section-heading text-center">
                                        <h2>اكتشف أسعارنا القيّمة</h2>
                                        <p>خدمات متكاملة بتسعير مرن يتناسب مع جميع احتياجاتك الرقمية. النمو بكفاءة وفعالية مع حلولنا الإلكترونية المتقدمة.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-primary d-block">باقة البداية</h3>
                                            <h4 class="display-6 fw-semi-bold">درهم 3,779<span>/مرة واحدة</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تصميم موقع مخصص</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>ما يصل إلى 10 صفحات</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تصميم سريع الاستجابة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تحسين محركات البحث الأساسية</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تكامل وسائل التواصل الاجتماعي</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>نموذج الاتصال</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>التكامل مع خرائط جوجل</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>شهر واحد من الدعم</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/eVa01zfVr4SMbGofZ4" class="btn btn-outline-primary mt-2">اطلب الان</a>
        
                                        <!--pattern start-->
                                        <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
                                            <img src="assets/img/shape/dot-big-square.svg" alt="shape">
                                        </div>
                                        <!--pattern end-->
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-dark text-white p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-warning d-block">باقة الأعمال</h3>
                                            <h4 class="display-6 fw-semi-bold">درهم 9,500<span>/مرة واحدة</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>تصميم وتطوير موقع مخصص</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>ما يصل إلى 25 صفحة</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>تصميم سريع الاستجابة للجوال أولاً</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>تحسين محركات البحث المتقدمة + التحليلات</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>لوحة تحكم مخصصة</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>ميزات الأمان المحسنة</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>وظائف التجارة الإلكترونية</li>
                                                <li><i class="fas fa-circle fa-2xs text-warning ms-2"></i>3 أشهر من الدعم</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/14kaGdeRngBucKs007" class="btn btn-primary mt-2">شراء الآن</a>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6">
                                    <div class="position-relative single-pricing-wrap rounded-custom bg-white custom-shadow p-5 mb-4 mb-lg-0">
                                        <div class="pricing-header mb-32">
                                            <h3 class="package-name text-primary d-block">باقة بريميوم</h3>
                                            <h4 class="display-6 fw-semi-bold">درهم 18,899<span>/مرة واحدة</span></h4>
                                        </div>
                                        <div class="pricing-info mb-4">
                                            <ul class="pricing-feature-list list-unstyled">
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تصميم وتطوير المواقع المتقدمة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>صفحات غير محدودة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>تقنية تطبيقات الويب التقدمية (PWA).</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>استراتيجية SEO الشاملة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>مدعوم بالذكاء الاصطناعي</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>حلول أمنية مخصصة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>حلول التجارة الإلكترونية الكاملة</li>
                                                <li><i class="fas fa-circle fa-2xs text-primary ms-2"></i>6 أشهر من الدعم</li>
                                            </ul>
                                        </div>
                                        <a href="https://buy.stripe.com/6oEeWt7oV2KEh0I8wE" class="btn btn-outline-primary mt-2">شراء الآن</a>
        
                                        <!--pattern start-->
                                        <div class="dot-shape-bg position-absolute z--1 right--40 top--40">
                                            <img src="assets/img/shape/dot-big-square.svg" alt="shape">
                                        </div>
                                        <!--pattern end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--pricing section end-->

                            <!--cat subscribe start-->
        <section class="cta-subscribe bg-dark text-white ptb-120 position-relative overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="subscribe-info-wrap text-center position-relative z-2">
                            <div class="section-heading" data-aos="fade-up">
                                <h4 class="h5 text-warning">جرب الآن! استشارة مجانية</h4>
                                <h2>انطلق في رحلة التحول الرقمي الخاصة بك</h2>
                                <p>استمتع بالنصائح المصممة خصيصًا لك، الرؤى الصناعية، الحلول المبتكرة، والاستشارات بدون أي مخاطر</p>
                            </div>
                            <div class="form-block-banner mw-60 m-auto mt-5" data-aos="fade-up" data-aos-delay="50">
                                <a routerLink="/contact" class="btn btn-primary">احصل على استشارة مجانية</a>
                            </div>
                            <ul class="nav justify-content-center subscribe-feature-list mt-4" data-aos="fade-up" data-aos-delay="100">
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary ms-2"></i>أفكار وحلول مجانية</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary ms-2"></i>توفير الجهد والوقت</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary ms-2"></i>تقنيات جديدة ومبتكرة</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary ms-2"></i>استشارات بدون مخاطر</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
            </div>
        </section> <!--cat subscribe end-->

    </div>
    <app-footer></app-footer>