<div class="arabic-web-design" dir="rtl">


    <!--page header section start-->
    <section class="page-header position-relative overflow-hidden ptb-120 bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat bottom left">
        <div class="container pt-5 text-center">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h1 class="display-5 fw-bold">تصميم مواقع إلكترونية مبتكرة في دبي</h1>
                    <p class="lead">في كوديفي، نقدم حلول تصميم ويب متكاملة تعزز من وجودك الرقمي وتساعد على تحقيق أهدافك بفعالية. اكتشف كيف يمكن لخبراتنا أن تحول رؤيتك إلى واقع ناجح.
                    </p>
                    <a href="#calendar" class="btn btn-primary mt-2">اطلب استشارتك المجانية اليوم</a>
                </div>
            </div>
            <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
        </div>
    </section>
    <!--page header section end-->

</div>