                <!--promo section start-->
                <section class="promo-section ptb-120 bg-light-subtle">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6">
                                <div class="section-heading text-center">
                                    <h2>{{"Statistics.Text1" | translate}}</h2>
                                    <p>{{"Statistics.Text2" | translate}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">150+</h3>
                                        <h2 class="h5">{{"Statistics.Text3" | translate}}</h2>
                                        <p class="mb-0">{{"Statistics.Text4" | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-4">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">1.5k</h3>
                                        <h2 class="h5">{{"Statistics.Text5" | translate}}</h2>
                                        <p class="mb-0">{{"Statistics.Text6" | translate}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <div class="promo-card-wrap promo-border-hover border border-2 bg-white rounded-custom p-5 mb-4 mb-lg-0 mb-md-0">
                                    <div class="promo-card-info">
                                        <h3 class="display-5 fw-medium mb-4">90%</h3>
                                        <h2 class="h5">{{"Statistics.Text7" | translate}}</h2>
                                        <p class="mb-0">{{"Statistics.Text8" | translate}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--promo section end-->