<app-header></app-header>

<!--page header section start-->
<section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
  style="background: url('assets/img/page-header-bg.svg') no-repeat bottom left">
  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <h1 class="display-5 fw-bold">
          Crafting Excellence in Digital Realms
        </h1>
        <p class="lead">
          Where innovation meets luxury, Luxe Bzns elevates your digital experience with bespoke software solutions.
          Transforming visions into reality through our expertly crafted apps, websites, and software for a
          distinguished clientele.
        </p>
      </div>
    </div>
    <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light right-5"></div>
  </div>
</section>
<!--page header section end-->

<!--feature tab section start-->
<section class="feature-tab-section ptb-120 bg-light-subtle">
  <div class="container">
    <div class="row justify-content-center align-content-center">
      <div class="col-md-10 col-lg-8">
        <div class="section-heading text-center mb-4">
          <h5 class="h6 text-primary">Our Projects</h5>
          <h2>Showcase of Excellence</h2>
          <p>
            Discover how Luxe Bzns transforms ideas into digital masterpieces. A portfolio of groundbreaking apps,
            websites, and software solutions designed for the elite.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <ul class="nav justify-content-center feature-tab-list-2 mt-4" id="nav-tab-2" role="tablist">
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'webApplications'"
              (click)="setActiveTab('webApplications')" role="tab" aria-selected="false">
              Web Applicatios
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'mobileApplications'"
              (click)="setActiveTab('mobileApplications')" role="tab" aria-selected="false">
              Mobile Applecations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'Branding'" (click)="setActiveTab('Branding')" role="tab"
              aria-selected="false">
              Branding / UI-UX
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [class.active]="activeTab === 'Advanced'" (click)="setActiveTab('Advanced')" role="tab"
              aria-selected="false">
              Advanced Technology
            </a>
          </li>
        </ul>
        <div class="tab-content" id="nav-tabContent-2">
          <div class="tab-pane fade pt-60" [class.active]="activeTab === 'webApplications'"
            [class.show]="activeTab === 'webApplications'" *ngIf="activeTab === 'webApplications'" role="tabpanel">
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Victoria Hotel Luxury Website</h3>
                  <p>
                    Luxe Bzns Company proudly unveils the Victoria Hotel Luxury
                    Website, a beacon of elegance and sophistication in digital
                    hospitality. Our expertly crafted platform epitomizes
                    luxury, promising an immersive and intuitive user
                    experience.
                  </p>
                  <p>
                    As pioneers in luxury web design, we blend cutting-edge
                    technology with unparalleled aesthetic finesse. Our work
                    with Victoria Hotel showcases our commitment to creating
                    digital experiences that resonate with excellence and
                    exclusivity.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/users/2224400/screenshots/17682368/media/da9b99316240beaf33054c56dffb0f00.jpeg?resize=640x480&vertical=center"
                  alt="Victoria Hotel Luxury Website Designed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>BisouLovely Jewelry Shop Website</h3>
                  <p>
                    Discover the enchantment of BisouLovely Jewelry, where every
                    piece tells a story of beauty and sophistication. Our
                    website is a curated showcase of exquisite, handcrafted
                    jewelry designed for those who appreciate luxury and
                    individuality.
                  </p>
                  <p>
                    Experience the allure of BisouLovely's online boutique. Our
                    commitment to quality and elegance is evident in every
                    collection, offering a seamless shopping experience for
                    timeless pieces that elevate any ensemble.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/users/2383805/screenshots/15304174/media/3846f2bbecec2eb409c8eda52a16190d.jpg?resize=800x600&vertical=center"
                  alt="BisouLovely Jewelry Shop Website Designed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Radiant: Illuminate Your World</h3>
                  <p>
                    Radiant redefines brilliance, offering innovative lighting
                    solutions that transform spaces into dazzling realms of
                    possibility. Explore our range, where each product promises
                    to illuminate your world with unmatched elegance and
                    efficiency.
                  </p>
                  <p>
                    Illuminate your life with Radiant's visionary designs. Our
                    commitment to excellence shines in every piece, blending
                    aesthetics with functionality to light up your world in ways
                    you've never imagined.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="assets/img/Radiant- Illuminate Your World.webp"
                  alt="Radiant: Illuminate Your World Developed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Luxury Real Estate Website</h3>
                  <p>
                    Step into the realm of luxury with our Real Estate Website,
                    where exclusivity meets unparalleled elegance. Discover a
                    curated collection of prestigious properties, each
                    showcasing the pinnacle of design and location.
                  </p>
                  <p>
                    Navigate the epitome of luxury living through our website.
                    Our dedication to excellence is evident in our selection of
                    high-end homes, designed for discerning clients seeking
                    extraordinary real estate experiences.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/userupload/12267467/file/original-f0a94db541c406d00e27513cde8fda46.png?resize=640x480&vertical=center"
                  alt="Luxury Real Estate Website Developed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Medical Quality Doctors: For Your Best Care</h3>
                  <p>
                    Experience unparalleled healthcare with Medical Quality
                    Doctors, where excellence in medical care meets compassion.
                    Our team of esteemed professionals is dedicated to providing
                    the best care, tailored to your unique needs.
                  </p>
                  <p>
                    Trust in Medical Quality Doctors for your healthcare
                    journey. Our commitment to high standards ensures you
                    receive personalized, top-tier medical attention in a
                    supportive and caring environment.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="assets/img/Medical Quality Doctors.webp"
                  alt="Medical Quality Doctors Website Developed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Patient Condition Monitoring Dashboard</h3>
                  <p>
                    Introducing our state-of-the-art Patient Condition
                    Monitoring Dashboard, designed for real-time tracking and
                    management of patient health within the hospital. This tool
                    empowers medical staff with instant access to critical data,
                    ensuring timely care.
                  </p>
                  <p>
                    Our dashboard offers unparalleled oversight, enabling
                    healthcare professionals to monitor and respond to each
                    patient's condition efficiently. It's the epitome of
                    precision and proactive healthcare management, tailored for
                    optimal patient outcomes.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/userupload/5017039/file/original-4948e62ce696c9fe202b8ec86b725337.png?resize=800x600&vertical=center"
                  alt="Patient Condition Monitoring Dashboard Developed by Luxe Bzns Company Best Website Design company in Dubai and UAE"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>
          </div>
          <div class="tab-pane fade pt-60" [class.active]="activeTab === 'mobileApplications'"
            [class.show]="activeTab === 'mobileApplications'" *ngIf="activeTab === 'mobileApplications'"
            role="tabpanel">
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/userupload/5457705/file/original-b825bee1ce5aa4c1385c9d3bdacdd453.png?resize=800x600&vertical=center" alt="UAE Polo Federation App"
                  class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>UAE Polo Federation App</h3>
                  <p>
                    Dive into the world of polo with the UAE Polo Federation
                    App, your ultimate guide to the sport in the United Arab
                    Emirates. Stay updated with events, scores, and polo club
                    information at your fingertips.
                  </p>
                  <p>
                    This app brings the excitement of polo directly to you,
                    offering exclusive features for enthusiasts and players
                    alike. Whether you're following your favorite team or
                    exploring polo for the first time, our app connects you to
                    the heart of the action.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <!-- <img src="https://cdn.dribbble.com/users/987543/screenshots/18158448/media/8add3e9899dea13764f146f7953514c3.mp4" alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover"> -->
                <video class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" autoplay loop muted playsinline style="pointer-events: none;">
                  <source
                    src="https://cdn.dribbble.com/users/987543/screenshots/18158448/media/8add3e9899dea13764f146f7953514c3.mp4"
                    type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>YesMall Mobile Experience: Navigate with Precision</h3>
                  <p>
                    Unveil a seamless shopping journey with YesMall Mobile
                    Experience, your personal guide to find the exact location
                    around the mall territory. Navigate effortlessly,
                    discovering shops, eateries, and amenities with ease.
                  </p>
                  <p>
                    Our innovative app transforms your mall visit into an
                    efficient, enjoyable adventure. With real-time location
                    services, YesMall ensures you can pinpoint your desired
                    destinations quickly, elevating your shopping experience to
                    unparalleled levels of convenience and pleasure.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/users/4033964/screenshots/18438429/media/9dced9e7f6f1c4cf6f33854738a636a6.jpg?resize=1600x1200&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Real Estate Development App</h3>
                  <p>
                    Elevate your property journey with our Real Estate
                    Development App, the ultimate tool for buyers, investors,
                    and real estate enthusiasts. Explore a world of
                    opportunities, from cutting-edge projects to investment
                    insights.
                  </p>
                  <p>
                    This app is your gateway to the future of real estate,
                    offering comprehensive details on developments, market
                    trends, and exclusive property listings. Make informed
                    decisions with ease, powered by our intuitive, user-friendly
                    platform.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/users/6682392/screenshots/18020572/media/3adfc0568cf3d48ec9b3f42cbc2a676b.png?resize=1600x1200&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>Ecommerce App: Your Marketplace on the Go</h3>
                  <p>
                    Shop the world with our Ecommerce App, a one-stop mobile
                    destination for all your shopping needs. Discover an endless
                    assortment of products from global brands to local artisans,
                    all at your fingertips.
                  </p>
                  <p>
                    Our app simplifies shopping with intuitive navigation,
                    personalized recommendations, and secure checkout. Whether
                    you're looking for the latest tech, fashion finds, or
                    everyday essentials, our platform brings the mall to you,
                    anytime, anywhere.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/users/5236056/screenshots/15226746/media/563c7aa07d0b95ddc124382e5d1a5639.png?resize=1600x1200&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Doctor Appointment Platform: Health at Your Fingertips
                  </h3>
                  <p>
                    Schedule your next doctor visit effortlessly with our Doctor
                    Appointment Platform, designed to connect you with
                    healthcare professionals with ease. Find the right
                    specialist, view availability, and book your appointment in
                    just a few clicks.
                  </p>
                  <p>
                    Our platform prioritizes your health by offering a
                    streamlined, user-friendly interface to access top medical
                    care. With features like appointment reminders, health
                    records access, and direct messaging, managing your
                    healthcare has never been more accessible.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade pt-60" [class.active]="activeTab === 'Branding'"
            [class.show]="activeTab === 'Branding'" *ngIf="activeTab === 'Branding'" role="tabpanel">
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Real Estate App Design: Navigating the Future of Property
                  </h3>
                  <p>
                    Experience the pinnacle of property search with our Real
                    Estate App Design, where innovation meets user-centric
                    design. This section showcases our expertise in creating
                    intuitive, engaging interfaces that make finding your dream
                    home a breeze.
                  </p>
                  <p>
                    Our design philosophy centers on simplicity, efficiency, and
                    elegance, ensuring users can navigate listings, insights,
                    and features with unparalleled ease. Delve into a world
                    where every interaction enhances your journey to the perfect
                    property.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/userupload/12801838/file/original-acde685d3fe485c4e6a873a7b1543d65.png?resize=800x600&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Health UI/UX Design: Enhancing Healthcare Accessibility
                  </h3>
                  <p>
                    Transform your healthcare experience with the EMI Health
                    User Interface, meticulously crafted by our top UI/UX
                    designers. This section highlights our commitment to
                    simplifying healthcare management through a user-friendly
                    digital interface.
                  </p>
                  <p>
                    Our design strategy focuses on clarity, intuitiveness, and
                    responsiveness, ensuring that users can effortlessly access
                    health plans, manage appointments, and track their wellness
                    journey. Explore a design that prioritizes your health
                    needs, making every interaction seamless and informative.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/userupload/4908106/file/original-1909ed260398d4c51871378e99035546.png?crop=0x0-3201x2401&resize=800x600&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    UI/UX Design for Crypto Elements: Navigating the Digital
                    Currency World
                  </h3>
                  <p>
                    Step into the future of finance with our UI/UX Design for
                    Crypto Elements, where functionality meets cutting-edge
                    aesthetics. This section showcases our innovative approach
                    to creating user interfaces that simplify the complexities
                    of digital currencies.
                  </p>
                  <p>
                    Our designs are tailored to enhance user engagement with
                    crypto platforms, ensuring secure, intuitive navigation
                    through wallets, transactions, and market analysis. Discover
                    how we bring clarity and style to the crypto experience,
                    making it accessible and enjoyable for everyone.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/userupload/11617301/file/original-5f20a1bb80d19cd303dc4ef985b47e94.jpg?resize=640x480&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Training App UI/UX Design: Your Personal Fitness Journey
                  </h3>
                  <p>
                    Embark on a fitness journey like no other with our Training
                    App UI/UX Design, where motivation meets innovation. This
                    section illustrates our dedication to crafting an engaging,
                    user-friendly platform tailored for your workout needs.
                  </p>
                  <p>
                    Designed with the user's journey in mind, our interface
                    combines personalized training plans, progress tracking, and
                    motivational insights in a sleek, easy-to-navigate app. Dive
                    into a fitness experience that’s not just about exercise,
                    but about transforming your lifestyle, one tap at a time.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
              <div class="col-lg-5">
                <video class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" autoplay loop muted playsinline style="pointer-events: none;">
                  <source
                    src="https://cdn.dribbble.com/users/2258836/screenshots/16136966/media/8db9dee56d75fbf432382886b45b1980.mp4"
                    type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>

          <div class="tab-pane fade pt-60" role="tabpanel" [class.active]="activeTab === 'Advanced'"
            [class.show]="activeTab === 'Advanced'" *ngIf="activeTab === 'Advanced'" role="tabpanel">
            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/users/1838892/screenshots/16982008/media/e1e655e8ae533d7c44abb7df7ad539b8.png?resize=800x600&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Chatbot Builder UI: Crafting Conversations with Advanced
                    Technology
                  </h3>
                  <p>
                    Unleash the power of AI with our Chatbot Builder UI, a
                    pivotal feature of our Advanced Technology Section designed
                    to revolutionize how businesses engage with customers. This
                    intuitive interface allows you to create, customize, and
                    deploy chatbots with unprecedented ease and flexibility.
                  </p>
                  <p>
                    Explore the forefront of customer interaction technology,
                    where our Chatbot Builder UI empowers you to design chatbots
                    that can simulate near-human conversations, understand
                    complex queries, and provide instant support. Perfect for
                    businesses aiming to enhance customer service, increase
                    engagement, and streamline operations.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img src="https://cdn.dribbble.com/userupload/3122056/file/original-8f5340d86c6c21f52ae3a610a5fb28b8.png?resize=800x600&vertical=center" alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover">
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    IoT Dashboard: Centralizing Control with Advanced Technology
                  </h3>
                  <p>
                    Step into the future of device management with our IoT
                    Dashboard, a cornerstone of our Advanced Technology Section.
                    This powerful platform is designed to give you unparalleled
                    oversight and control over your IoT ecosystem.
                  </p>
                  <p>
                    With real-time monitoring, analytics, and device management
                    capabilities, our IoT Dashboard simplifies complex networks,
                    making it easy to optimize performance, ensure security, and
                    enhance efficiency. Ideal for businesses and individuals
                    looking to harness the full potential of their IoT
                    investments.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <img
                  src="https://cdn.dribbble.com/users/6109291/screenshots/18009045/media/13299b98a36ecdbdc2f80ed0bfe6746c.png?resize=800x600&vertical=center"
                  alt="feature tab" class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" />
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>
                    Blockchain Technology Landing Page: Revolutionizing Digital
                    Trust
                  </h3>
                  <p>
                    Welcome to the frontier of secure digital transactions with
                    our Blockchain Technology Landing Page. This essential part
                    of our Advanced Technology Section showcases the
                    transformative power of blockchain in creating
                    decentralized, transparent, and tamper-proof systems.
                  </p>
                  <p>
                    Dive into an informative and engaging platform designed to
                    educate and inspire visitors about the benefits and
                    applications of blockchain technology. From enhancing data
                    security to streamlining operations, discover how our
                    blockchain solutions can revolutionize industries by
                    establishing unparalleled trust and efficiency.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>

            <div class="row justify-content-center align-items-center justify-content-around mt-4">
              <div class="col-lg-5">
                <video class="img-fluid mt-4 mt-lg-0 mt-xl-0 rounded-10 luxury-hover" autoplay loop muted playsinline style="pointer-events: none;">
                  <source
                    src="https://cdn.dribbble.com/userupload/3355501/file/original-d8a068ab1c2c79df9b8c07c8c39adb6c.mp4"
                    type="video/mp4" />
                  Your browser does not support the video tag.
                </video>
              </div>
              <div class="col-lg-5">
                <div class="feature-tab-info">
                  <h3>NFT Marketplace: Unleashing Digital Creativity</h3>
                  <p>
                    Enter a world where art meets blockchain on our NFT
                    Marketplace, a highlight of our Advanced Technology Section.
                    This vibrant platform empowers artists, creators, and
                    collectors to buy, sell, and explore unique digital assets
                    secured by blockchain technology.
                  </p>
                  <p>
                    Our marketplace is designed to foster a thriving community
                    of digital creatives, offering an intuitive interface for
                    seamless transactions and interactive engagement. Whether
                    you're a seasoned collector or new to the world of NFTs,
                    discover how we're shaping the future of digital ownership
                    and creativity.
                  </p>
                  <a routerLink="/contact" class="read-more-link text-decoration-none mt-4 d-block">Contact Us <i
                      class="fas fa-arrow-right ms-2"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--feature tab section end-->

<app-footer></app-footer>