/* You can add global styles to this file, and also import other style files */
a {
  cursor: pointer;
}

.btn-outline-light:hover {
  color: #ffffff !important;
  border-color: #5d91f7;
}

.btn-primary {
  border: none;
  background: linear-gradient(to right bottom, #6501c8, #5d91f7);
  background-size: 200% 100%; // Adjust the background size
  transition: background-position 0.6s ease; // Add a transition for background-position

  &:hover {
    background-position: 100% 0; // Move the background position on hover
  }
}

.feature-card {
  cursor: pointer;
}
