<app-header></app-header>

    <div style="max-width: 100%; overflow: hidden;">
        <!--hero section start-->
        <section class="hero-section ptb-120" style="background: url('assets/img/shape/dot-dot-wave-shape.svg') no-repeat bottom center">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-xl-5 col-lg-5">
                        <div class="hero-content-wrap">
                            <h1 class="fw-bold display-5">{{'Home.Text1'| translate}}</h1>
                            <p class="lead">{{'Home.Text2'| translate}}</p>
                            <div class="hero-subscribe-form-wrap pt-4 position-relative m-auto m-xl-0 d-none d-md-block d-lg-block d-xl-block">
                                <a class="btn btn-primary" routerLink="/services">{{'Home.Text3' |translate}}</a>
                                <ul class="nav subscribe-feature-list mt-3">
                                    <li class="nav-item">
                                        <span class="ms-0"><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text4'| translate}}</span>
                                    </li>
                                    <li class="nav-item">
                                        <span><i
                                                class="far fa-check-circle text-primary me-2"></i>{{'Home.Text5'| translate}}</span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 mt-4 mt-xl-0">
                        <div class="hero-img-wrap position-relative">
                            <!--animated shape start-->
                            <ul class="position-absolute animate-element parallax-element shape-service hide-medium">
                                <li class="layer" data-depth="0.03">
                                    <img src="assets/img/color-shape/image-1.svg" alt="Elegant blue geometric pattern background, accentuating Codevay's cutting-edge technology solutions" class="img-fluid position-absolute color-shape-1">
                                </li>
                                <li class="layer" data-depth="0.02">
                                    <img src="assets/img/color-shape/feature-2.svg" alt="Abstract wave-shaped background in Codevay brand colors, symbolizing innovation and fluidity in software development" class="img-fluid position-absolute color-shape-2 z-5" >
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="assets/img/color-shape/feature-3.svg" alt="Dynamic swirling shapes background, representing Codevay's forward-thinking approach to tech solutions in Dubai" class="img-fluid position-absolute color-shape-3" >
                                </li>
                            </ul>
                            <!--animated shape end-->
                            <div class="hero-img-wrap position-relative">
                                <div class="hero-screen-wrap">
                                    <div class="phone-screen">
                                        <img src="assets/img/phone-screen.webp" alt="High-resolution display of Codevay mobile application interface on a smartphone screen, showcasing user-friendly design and features" class="position-relative img-fluid" width="100" height="201">
                                    </div>
                                    <div class="mac-screen">
                                        <img ngSrc="assets/img/laptop.webp" ngOptimizedImage alt="Sleek laptop showcasing Codevay custom software solutions with a focus on innovative UI/UX design for enhanced user engagement" class="position-relative img-fluid rounded-custom" width="400" height="364">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--hero section end-->
    </div>
        <!--promo section start-->
        <div class="customer-section pb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-12">
                        <ul class="customer-logos-grid text-center list-unstyled mb-0">
                            <li>
                                <a href='https://www.etisalat.ae' target='_blank'>
                                <img src="assets/img/clients/etisalat-logo.svg" width="150" height="150" alt="Etisalat company logo - Proud client of Codevay software solutions, emphasizing our collaboration in enhancing telecommunications services in the UAE" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" loading="lazy"/>
                                </a>
                            </li>
                            <li>
                                <a href='https://www.ibm.com/us-en' target='_blank'>
                                <img src="assets/img/clients/ibm-logo.svg" width="150" height="150" alt="IBM company logo - Highlighting partnership with Codevay in delivering advanced technology and software solutions globally" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" data-aos-delay="50"  loading="lazy"/>
                            </a>
                            </li>
                            <li>
                                <a href='https://www.jnj.com' target='_blank'>
                                <img src="assets/img/clients/J&J.svg" width="150" height="150" loading="lazy" alt="Johnson & Johnson company logo - Demonstrating Codevay's engagement in providing healthcare software solutions and services" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" data-aos-delay="100"  />
                                </a>
                            </li>
                            <li>
                                <a href='https://hsproperty.ae' target='_blank' class="link-BEST-DENTAL">
                                <img src="assets/img/clients/H&S-logo.png" width="150" height="150" loading="lazy" alt="H&S Real Estate logo - Showcasing real estate software solutions partnership with Codevay, enhancing property management and sales in Dubai" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto BEST-DENTAL" data-aos="fade-up" data-aos-delay="150" />
                                </a>
                            </li>
                            <li>
                                <a href='https://saddle-dubai.squarespace.com' target='_blank' class="link-BEST-DENTAL">
                                <img src="assets/img/clients/saddle-logo.png" width="150" height="150" loading="lazy" alt="Saddle Dubai logo - Reflecting Codevay's contribution to equestrian sports through specialized software solutions in Dubai" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto BEST-DENTAL" data-aos="fade-up" data-aos-delay="200" />
                                </a>
                            </li>
                            <li>
                                <a href='https://www.defacto.com/en-ma' target='_blank'>
                                <img src="assets/img/clients/defacto.svg" width="150" height="150" loading="lazy" alt="DeFacto company logo - Illustrating Codevay's partnership in fashion retail software development for enhanced online shopping experiences" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" data-aos-delay="250" />
                                </a>
                            </li>
                            <li>
                                <a href='https://theelixirclinic.com' target='_blank'>
                                <img src="assets/img/clients/Elixir-Clinic-logo.svg" width="150" height="150" loading="lazy" alt="Elixir Clinic logo - Highlighting Codevay's collaboration in healthcare sector with innovative medical software solutions" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" data-aos-delay="300" />
                                </a>
                            </li>
                            <li>
                                <a href='https://www.bestdentalclinic.ae' target='_blank' class="link-BEST-DENTAL">
                                <img src="assets/img/clients/BEST-DENTAL.webp" width="150" height="150" loading="lazy" alt="Best Dental Clinic logo - Showcasing Codevay's expertise in dental clinic management software solutions in Dubai" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto BEST-DENTAL" data-aos="fade-up" data-aos-delay="350" />
                                </a>
                            </li>
                            <li>
                                <a href='https://www.digitalocean.com/' target='_blank'>
                                <img src="assets/img/clients/digital-ocean-logo.svg" width="150" height="150" loading="lazy" alt="Digital Ocean logo - Signifying Codevay's strategic alliance for cloud hosting and infrastructure services with Digital Ocean" class="img-fluid customer-logo-gray p-1 p-md-2 p-lg-3 m-auto" data-aos="fade-up" data-aos-delay="350" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--promo section end-->

        <!--customers section start-->
        <section class="promo-section ptb-120 bg-light-subtle ">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center" data-aos="fade-up">
                            <h2>{{'Home.Text6'| translate}}</h2>
                            <p>{{'Home.Text7'| translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0 mt-md-0">
                        <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom" data-aos="fade-up" data-aos-delay="100">
                            <div class="promo-card-info mb-4">
                                <h3 class="display-5 fw-bold mb-4"><i class="fas fa-fingerprint text-warning me-2"></i> 10x
                                </h3>
                                <p>{{'Home.Text8'| translate}}</p>
                            </div>
                            <div class="mt-auto">
                                <img src="assets/img/clients/J&J.svg" width="120" height="53" loading="lazy" alt="Johnson & Johnson logo - Demonstrating a partnership with Codevay for healthcare and pharmaceutical software solutions" class="img-fluid me-auto customer-logo" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0 mt-md-0">
                        <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom" data-aos="fade-up" data-aos-delay="150">
                            <div class="promo-card-info mb-4">
                                <h3 class="display-5 fw-bold mb-4"><i class="fas fa-paper-plane text-warning me-2"></i> 5k
                                </h3>
                                <p>{{'Home.Text9'| translate}}</p>
                            </div>
                            <div class="mt-auto">
                                <img src="assets/img/clients/defacto.svg" width="120" height="53" loading="lazy" alt="DeFacto logo - Showcasing Codevay's collaboration on innovative retail and e-commerce software solutions" class="img-fluid me-auto customer-logo" >
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mt-4 mt-lg-0">
                        <div class="bg-dark p-5 text-center d-flex flex-column h-100 rounded-custom" data-aos="fade-up" data-aos-delay="200">
                            <div class="promo-card-info mb-4">
                                <h3 class="display-5 fw-bold mb-4"><i class="fas fa-chart-pie text-warning me-2"></i>
                                    95%</h3>
                                <p>{{'Home.Text10'| translate}}</p>
                            </div>
                            <div class="mt-auto">
                                <img src="assets/img/clients/Elixir-Clinic-logo.svg" width="120" height="53" loading="lazy" alt="Elixir Clinic logo - Representing Codevay's partnership in delivering advanced healthcare technology solutions" class="img-fluid me-auto customer-logo" >
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section> <!--customers section end-->

        <!--feature section start-->
        <section class="feature-section-two ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12">
                        <div class="section-heading" data-aos="fade-up">
                            <h4 class="h5 text-primary">{{'Home.Text11'| translate}}</h4>
                            <h2>{{'Home.Text12'| translate}}</h2>
                            <p>{{'Home.Text13'| translate}}</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-laptop-code text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text14'| translate}}</h3>
                                        <p>{{'Home.Text15'| translate}}
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text16'| translate}}</h3>
                                        <p>{{'Home.Text17'| translate}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                            <ul class="img-overlay-list list-unstyled position-absolute">
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="50">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <p class="mb-0 h6">{{'Home.Text18'| translate}}</p>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="100">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <p class="mb-0 h6">{{'Home.Text19'| translate}}</p>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="150">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <p class="mb-0 h6">{{'Home.Text20'| translate}}</p>
                                </li>
                            </ul>
                            <img ngSrc="assets/img/feature-img3.webp" alt="Codevay - Advanced Technology Solutions for Dubai's Businesses" class="img-fluid rounded-custom" ngOptimizedImage width="493" height="662" >
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--feature section end-->

        <!--feature section start-->
        <section class="feature-section two-bg-dark-light ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-6 col-md-6">
                        <div class="image-wrap mb-5 mb-md-0 mb-lg-0 mb-xl-0" data-aos="fade-up">
                            <img ngSrc="assets/img/dashboard-img.webp" alt="Codevay - Intuitive Dashboard for Your Business Analytics" class="img-fluid shadow rounded-custom" ngOptimizedImage width="636" height="477" >
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="feature-content-wrap" data-aos="fade-up" data-aos-delay="50">
                            <h4 class="h5 text-primary">{{'Home.Text21'| translate}}</h4>
                            <h2>{{'Home.Text22'| translate}}</h2>
                            <p>{{'Home.Text23'| translate}}</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text24'| translate}}</h3>
                                        <p>{{'Home.Text25'| translate}}
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-fingerprint text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text26'| translate}}</h3>
                                        <p>{{'Home.Text27'| translate}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--feature section end-->

        <!--our work process start-->
        <section class="work-process ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <div class="section-heading text-center" data-aos="fade-up">
                            <h4 class="h5 text-primary">{{'Home.Text28'| translate}}</h4>
                            <h2>{{'Home.Text29'| translate}}</h2>
                            <p>{{'Home.Text30'| translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12 order-1 order-lg-0">
                        <div class="img-wrap" data-aos="fade-up" data-aos-delay="50">
                            <img src="assets/img/office-img-11.webp" alt="Codevay - Efficient Work Process in Dubai Office" class="img-fluid rounded-custom" loading="lazy" height="788" width="526">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-0 order-lg-1">
                        <ul class="work-process-list list-unstyled">
                            <li class="d-flex align-items-start mb-4" data-aos="fade-up" data-aos-delay="50">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="fas fa-folder-tree fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">{{'Home.Text31'| translate}}</span>
                                    <h3 class="h5 mb-2">{{'Home.Text32'| translate}}</h3>
                                    <p>{{'Home.Text33'| translate}}
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4" data-aos="fade-up" data-aos-delay="100">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="fas fa-bezier-curve fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">{{'Home.Text34'| translate}}</span>
                                    <h3 class="h5 mb-2">{{'Home.Text35'| translate}}</h3>
                                    <p>{{'Home.Text36'| translate}}
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4" data-aos="fade-up" data-aos-delay="150">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="fas fa-layer-group fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">{{'Home.Text37'| translate}}</span>
                                    <h3 class="h5 mb-2">{{'Home.Text38'| translate}}</h3>
                                    <p>{{'Home.Text39'| translate}}
                                    </p>
                                </div>
                            </li>
                            <li class="d-flex align-items-start mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                                <div class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2">
                                    <i class="fas fa-chart-line fa-2x"></i>
                                </div>
                                <div class="icon-content">
                                    <span class="text-primary h6">{{'Home.Text40'| translate}}</span>
                                    <h3 class="h5 mb-2">{{'Home.Text41'| translate}}</h3>
                                    <p>{{'Home.Text42'| translate}}
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section> <!--our work process end-->

        <!--customer review slider section start-->
        <section class="testimonial-section bg-dark text-white ptb-120">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center" data-aos="fade-up">
                            <h4 class="h5 text-warning text-primary">{{'Home.Text43'| translate}}</h4>
                            <h2>{{'Home.Text44'| translate}}</h2>
                            <p>{{'Home.Text45'| translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100" data-aos="fade-up" data-aos-delay="50">
                            <div class="swiper testimonialSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="Quotes - Testimonial" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" >
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/5.jpg" class="img-fluid me-3 rounded" width="60" height="60" loading="lazy" alt="User - Testimonial" >
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text46'| translate}}</h6>
                                                    <small>{{'Home.Text47'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text48'| translate}}</h6>
                                                {{'Home.Text49'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="Quotes - Testimonial" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" >
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/2.jpg" class="img-fluid me-3 rounded" width="60" height="60" loading="lazy" alt="User - Testimonial" >
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text50'| translate}}</h6>
                                                    <small>{{'Home.Text51'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text52'| translate}}</h6>
                                                {{'Home.Text53'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="Quotes - Testimonial" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" >
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/3.jpg" class="img-fluid me-3 rounded" width="60" height="60" loading="lazy" alt="User - Testimonial" >
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text54'| translate}}</h6>
                                                    <small>{{'Home.Text55'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text56'| translate}}</h6>
                                                {{'Home.Text57'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="Quotes - Testimonial" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" >
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/4.jpg" class="img-fluid me-3 rounded" width="60" height="60" loading="lazy" alt="User - Testimonial" >
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text58'| translate}}</h6>
                                                    <small>{{'Home.Text59'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text60'| translate}}</h6>
                                                {{'Home.Text61'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="Quotes - Testimonial" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" >
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/author3.jpg" class="img-fluid me-3 rounded" width="60" height="60" loading="lazy" alt="User - Testimonial" >
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text62'| translate}}</h6>
                                                    <small>{{'Home.Text63'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text64'| translate}}</h6>
                                                {{'Home.Text65'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-20">
                <app-trustpilot ngSkipHydration></app-trustpilot>
            </div>
        </section> <!--customer review slider section end-->

        <!--integration section start-->
        <section class="integration-section ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading">
                            <h4 class="h5 text-primary">{{'Home.Text66'| translate}}</h4>
                            <h2>{{'Home.Text67'| translate}}</h2>
                            <p>{{'Home.Text68'| translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="integration-wrapper position-relative w-100">
                            <ul class="integration-list list-unstyled mb-0">
                                <li>
                                    <a href="https://www.airbnb.ae" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/airbnb.png" alt="Airbnb Integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text70'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.figma.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/figma.png" alt="Figma Integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text71'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/facebook.png" alt="facebook integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text72'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.salesforce.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/sales-force.png" alt="salesforce integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text73'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.atlassian.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/atlassian.png" alt="atlassian integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text74'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/en" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/TikTok.svg" alt="tiktok integration" class="img-fluid"  style="height: 35px;">
                                        <p class="mb-0 mt-4 h6">{{'Home.Text75'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.microsoft.com/ar/dynamics-365" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/dynamic-365.png" alt="microsoft integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text76'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://zapier.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/zapier.png" alt="zapier integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text77'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://openai.com/blog/chatgpt" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/chatgbt.png" alt="openai integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text78'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/google-icon.png" alt="google integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text79'| translate}}</p>
                                    </div>
                                </a>
                                </li>

                                <li>
                                    <a href="https://slack.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/slack.png" alt="slack integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text80'| translate}}</p>
                                    </div>
                                    </a>
                                </li>

                                <li>
                                    <a href="https://marketingplatform.google.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/google-analytics.png" alt="marketingplatform integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text81'| translate}}</p>
                                    </div>
                                </a>
                                </li>

                                <li>
                                    <a href="https://www.google.com/drive" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/google-drive.png" alt="drive integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text82'| translate}}</p>
                                    </div>
                                </a>
                                </li>

                                <li>
                                    
                                    <a href="https://www.hubspot.com" target="_blank">

                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/hubspot.png" alt="hubspot integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text83'| translate}}</p>
                                    </div>

                                    </a>

                                </li>

                                <li>
                                    <a href="https://www.instagram.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/instagram.png" alt="instagram integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text84'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/linkedin.png" alt="linkedin integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text85'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://mailchimp.com/" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/mailchimp.png" alt="mailchimp integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text86'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                                <li>
                                    <a href="https://business.adobe.com/products/marketo/adobe-marketo.html" target="_blank">
                                    <div class="single-integration bg-white">
                                        <img src="assets/img/integations/marekto.png" alt="adobe-marketo integration" class="img-fluid" >
                                        <p class="mb-0 mt-4 h6">{{'Home.Text87'| translate}}</p>
                                    </div>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--integration section end-->

        <!--cat subscribe start-->
        <section class="cta-subscribe bg-dark text-white ptb-120 position-relative overflow-hidden">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="subscribe-info-wrap text-center position-relative z-2">
                            <div class="section-heading" data-aos="fade-up">
                                <h4 class="h5 text-warning">{{'Home.Text88'| translate}}</h4>
                                <h2>{{'Home.Text89'| translate}}</h2>
                                <p>{{'Home.Text90'| translate}}</p>
                            </div>
                            <div class="form-block-banner mw-60 m-auto mt-5" data-aos="fade-up" data-aos-delay="50">
                                <a routerLink="/contact" class="btn btn-primary">{{'Home.Text91'| translate}}</a>
                                <!-- <a href="../www.youtube.com/watchaec0.html?v=VIIWWdU-2SQ" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn ms-lg-3 ms-md-3 mt-3 mt-lg-0"> <i
                                        class="fas fa-play"></i> {{'Home.Text92'| translate}}</a> -->
                            </div>
                            <ul class="nav justify-content-center subscribe-feature-list mt-4" data-aos="fade-up" data-aos-delay="100">
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text93'| translate}}</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text94'| translate}}</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text95'| translate}}</span>
                                </li>
                                <li class="nav-item">
                                    <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text96'| translate}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
            </div>
        </section> <!--cat subscribe end-->

        
<app-footer></app-footer>