<app-header></app-header>

        <!--about header section start-->
        <section class="about-header-section ptb-120 position-relative overflow-hidden bg-dark" style="background: url('assets/img/page-header-bg.svg')no-repeat center right">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-heading-wrap d-flex justify-content-between z-5 position-relative">
                            <div class="about-content-left">
                                <div class="about-info mb-5 mt-5">
                                    <h1 class="fw-bold display-5">Empowering Elegance with Innovation</h1>
                                    <p class="lead">Discover Luxe Bzns: Dubai's Premier Digital and Software Solutions Provider. Specializing in digital marketing, innovative software, website development, and AI technologies, we are dedicated to driving business growth and efficiency through cutting-edge digital strategies. Your success in the digital world starts here.</p>
                                    <a routerLink="/contact" class="btn btn-primary mt-4 me-3">Contact Us</a>
                                </div>
                                <img src="assets/img/about-img-1.jpg" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow">
                            </div>
                            <div class="about-content-right">
                                <img src="assets/img/about-img-2.jpg" alt="about" class="img-fluid mb-5 rounded-custom shadow">
                                <img src="assets/img/about-img-3.jpg" alt="about" class="rounded-custom about-img-last shadow">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
            </div>
        </section>
        <!--about header section end-->

        <!--our story section start-->
        <section class="our-story-section pt-60 pb-120" style="background: url('assets/img/shape/dot-dot-wave-shape.svg')no-repeat left bottom">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-lg-5 col-md-12 order-lg-1">
                        <div class="section-heading sticky-sidebar">
                            <h4 class="h5 text-primary">Our Story</h4>
                            <h2>Where Innovation Meets Excellence: The Luxe Bzns Journey</h2>
                            <p>At Luxe Bzns, our story is rooted in a passion for transforming the digital landscape in Dubai. Founded by a team of visionary tech enthusiasts, we embarked on a mission to offer unparalleled digital marketing and software solutions. Our journey is characterized by relentless innovation, dedication to quality, and a deep understanding of the digital realm. From developing state-of-the-art websites and mobile apps to integrating advanced AI and chatbot technologies, we have continuously evolved to meet and exceed the dynamic needs of businesses. At Luxe Bzns, we don't just offer services; we build lasting partnerships, leading with our commitment to excellence and a friendly, professional team. Join us in redefining digital possibilities and elevating your business to new heights.</p>
                            <div class="mt-4">
                                <h6 class="mb-3">We Are Awarded By-</h6>
                                <img src="assets/img/awards-01.svg" alt="awards" class="me-4 img-fluid">
                                <img src="assets/img/awards-02.svg" alt="awards" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 order-lg-0">
                        <div class="story-grid-wrapper position-relative">
                            <!--animated shape start-->
                            <ul class="position-absolute animate-element parallax-element shape-service d-none d-lg-block">
                                <li class="layer" data-depth="0.02">
                                    <img src="assets/img/color-shape/image-2.svg" alt="shape" class="img-fluid position-absolute color-shape-2 z-5">
                                </li>
                                <li class="layer" data-depth="0.03">
                                    <img src="assets/img/color-shape/feature-3.svg" alt="shape" class="img-fluid position-absolute color-shape-3">
                                </li>
                            </ul>
                            <!--animated shape end-->
                            <div class="story-grid rounded-custom bg-dark overflow-hidden position-relative">
                                <div class="story-item bg-light-subtle border">
                                    <h3 class="display-5 fw-bold mb-1 text-success">350K+</h3>
                                    <h6 class="mb-0">Active Users</h6>
                                </div>
                                <div class="story-item bg-white border">
                                    <h3 class="display-5 fw-bold mb-1 text-primary">20+</h3>
                                    <h6 class="mb-0">Team Members</h6>
                                </div>
                                <div class="story-item bg-white border">
                                    <h3 class="display-5 fw-bold mb-1 text-dark">$1M+</h3>
                                    <h6 class="mb-0">Revenue Per/Year</h6>
                                </div>
                                <div class="story-item bg-light-subtle border">
                                    <h3 class="display-5 fw-bold mb-1 text-warning">12 Years</h3>
                                    <h6 class="mb-0">In Business</h6>
                                </div>
                                <div class="story-item bg-light-subtle border">
                                    <h3 class="display-5 fw-bold mb-1 text-danger">225+</h3>
                                    <h6 class="mb-0">Clients Worldwide</h6>
                                </div>
                                <div class="story-item bg-white border">
                                    <h3 class="display-5 fw-bold mb-1 text-primary">455+</h3>
                                    <h6 class="mb-0">Projects Completed</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--our story section end-->

        <!--feature section start-->
        <section class="feature-section-two ptb-120">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-lg-5 col-md-12">
                        <div class="section-heading" data-aos="fade-up">
                            <h4 class="h5 text-primary">{{'Home.Text11'| translate}}</h4>
                            <h2>{{'Home.Text12'| translate}}</h2>
                            <p>{{'Home.Text13'| translate}}</p>
                            <ul class="list-unstyled mt-5">
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-primary rounded me-4">
                                        <i class="fas fa-laptop-code text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text14'| translate}}</h3>
                                        <p>{{'Home.Text15'| translate}}
                                        </p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-start mb-4">
                                    <div class="icon-box bg-danger rounded me-4">
                                        <i class="fas fa-bezier-curve text-white"></i>
                                    </div>
                                    <div class="icon-content">
                                        <h3 class="h5">{{'Home.Text16'| translate}}</h3>
                                        <p>{{'Home.Text17'| translate}}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-7">
                        <div class="feature-img-wrap position-relative d-flex flex-column align-items-end">
                            <ul class="img-overlay-list list-unstyled position-absolute">
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="50">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">{{'Home.Text18'| translate}}</h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="100">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">{{'Home.Text19'| translate}}</h6>
                                </li>
                                <li class="d-flex align-items-center bg-white rounded shadow-sm p-3" data-aos="fade-up" data-aos-delay="150">
                                    <i class="fas fa-check bg-primary text-white rounded-circle"></i>
                                    <h6 class="mb-0">{{'Home.Text20'| translate}}</h6>
                                </li>
                            </ul>
                            <img ngSrc="assets/img/feature-img3.jpg" alt="feature image" class="img-fluid rounded-custom" ngOptimizedImage width="493" height="662" loading="lazy">
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--feature section end-->

        <!--team section start-->
        <section id="our-team" class="team-section ptb-120">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="section-heading text-center">
                            <h5 class="h6 text-primary">Our Team</h5>
                            <h2>Meet the Innovators Behind <br> Luxe Bzns</h2>
                            <p>Uniting Talent and Technology to Shape Your Digital Future </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/Ammar Barish, CEO & Digital Strategy Visionary at Luxe Bzns.jpeg" alt="team" class="img-fluid position-relative">
                                <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/ammar-barish/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li class="list-inline-item"><a href="https://twitter.com/AmmarBarish" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="https://github.com/AmmarBareesh" target="_blank"><i class="fab fa-github"></i></a></li>
                                    <li class="list-inline-item"><a href="https://www.instagram.com/ammar_barish/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Ammar Barish</h5>
                                <p class="text-muted small mb-0">CEO & Digital Strategy Visionary</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-2.jpg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Sarah Williams</h5>
                                <p class="text-muted small mb-0">Senior Software Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-3.jpg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Daniel Wilson</h5>
                                <p class="text-muted small mb-0">Data Analyst & Business Intelligence Specialist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-4.jpg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">James Anderson</h5>
                                <p class="text-muted small mb-0">Senior QA Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-5.jpg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Sarah Williams</h5>
                                <p class="text-muted small mb-0">CTO & AI Integration Expert</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-6.jpeg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Layla Karam</h5>
                                <p class="text-muted small mb-0">Head of Digital Marketing & SEO Strategist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-7.jpeg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Amanda Garcia</h5>
                                <p class="text-muted small mb-0">UI/UX Design Lead & Branding Specialist</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-single-wrap mb-5">
                            <div class="team-img rounded-custom">
                                <img src="assets/img/team/team-8.jpeg" alt="team" class="img-fluid position-relative">
                            </div>
                            <div class="team-info mt-4 text-center">
                                <h5 class="h6 mb-1">Michael Johnson</h5>
                                <p class="text-muted small mb-0">Lead Software Developer & Systems Architect</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--team section end-->

        <!--customer review slider section start-->
        <section class="testimonial-section bg-dark text-white ptb-120">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col-md-10 col-lg-6">
                        <div class="section-heading text-center" data-aos="fade-up">
                            <h4 class="h5 text-warning text-primary">{{'Home.Text43'| translate}}</h4>
                            <h2>{{'Home.Text44'| translate}}</h2>
                            <p>{{'Home.Text45'| translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="position-relative w-100" data-aos="fade-up" data-aos-delay="50">
                            <div class="swiper testimonialSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" loading="lazy">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/5.jpg" class="img-fluid me-3 rounded" width="60" alt="user" loading="lazy">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text46'| translate}}</h6>
                                                    <small>{{'Home.Text47'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text48'| translate}}</h6>
                                                {{'Home.Text49'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" loading="lazy">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/2.jpg" class="img-fluid me-3 rounded" width="60" alt="user" loading="lazy">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text50'| translate}}</h6>
                                                    <small>{{'Home.Text51'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text52'| translate}}</h6>
                                                {{'Home.Text53'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" loading="lazy">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/3.jpg" class="img-fluid me-3 rounded" width="60" alt="user" loading="lazy">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text54'| translate}}</h6>
                                                    <small>{{'Home.Text55'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text56'| translate}}</h6>
                                                {{'Home.Text57'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" loading="lazy">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/4.jpg" class="img-fluid me-3 rounded" width="60" alt="user" loading="lazy">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text58'| translate}}</h6>
                                                    <small>{{'Home.Text59'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text60'| translate}}</h6>
                                                {{'Home.Text61'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="bg-custom-light text-white  p-5 rounded-custom position-relative">
                                            <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3" loading="lazy">
                                            <div class="d-flex mb-32 align-items-center">
                                                <img src="assets/img/testimonial/author3.jpg" class="img-fluid me-3 rounded" width="60" alt="user" loading="lazy">
                                                <div class="author-info">
                                                    <h6 class="mb-0">{{'Home.Text62'| translate}}</h6>
                                                    <small>{{'Home.Text63'| translate}}</small>
                                                </div>
                                            </div>
                                            <blockquote>
                                                <h6>{{'Home.Text64'| translate}}</h6>
                                                {{'Home.Text65'| translate}}
                                            </blockquote>
                                            <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                                <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-nav-control">
                                <span class="swiper-button-next"></span>
                                <span class="swiper-button-prev"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> <!--customer review slider section end-->

                <!--cat subscribe start-->
                <section class="cta-subscribe bg-dark text-white ptb-120 position-relative overflow-hidden">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 col-md-10">
                                <div class="subscribe-info-wrap text-center position-relative z-2">
                                    <div class="section-heading" data-aos="fade-up">
                                        <h4 class="h5 text-warning">{{'Home.Text88'| translate}}</h4>
                                        <h2>{{'Home.Text89'| translate}}</h2>
                                        <p>{{'Home.Text90'| translate}}</p>
                                    </div>
                                    <div class="form-block-banner mw-60 m-auto mt-5" data-aos="fade-up" data-aos-delay="50">
                                        <a routerLink="/contact" class="btn btn-primary">{{'Home.Text91'| translate}}</a>
                                        <a href="../www.youtube.com/watchaec0.html?v=VIIWWdU-2SQ" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn ms-lg-3 ms-md-3 mt-3 mt-lg-0"> <i
                                                class="fas fa-play"></i> {{'Home.Text92'| translate}}</a>
                                    </div>
                                    <ul class="nav justify-content-center subscribe-feature-list mt-4" data-aos="fade-up" data-aos-delay="100">
                                        <li class="nav-item">
                                            <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text93'| translate}}</span>
                                        </li>
                                        <li class="nav-item">
                                            <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text94'| translate}}</span>
                                        </li>
                                        <li class="nav-item">
                                            <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text95'| translate}}</span>
                                        </li>
                                        <li class="nav-item">
                                            <span><i class="far fa-check-circle text-primary me-2"></i>{{'Home.Text96'| translate}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
                        <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-light right-5"></div>
                    </div>
                </section> <!--cat subscribe end-->

        <app-footer></app-footer>